*.py[cod]

# C extensions
*.so

config.py
*config*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

#information about google client log in
app/google_auth_class.py

# Virtual environment
venv
bin/
lib/
local/
.Python
include/

*.wsgi

ext/schema.jar
ext/mysql-connector-java-5.1.38-bin.jar

migrations/*
migrations/

database_schema/
database_schema/
*.jar

requirements/non_python

application_tasks/schema/*
!application_tasks/schema/schema.sh

application_tasks/mysql_dump/archives/*





