{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}

<h1>Choose Species</h1>
<h3>Click on the species for which you want to create a population:</h3>
<hr>
<div id="species-search">
    <div class="form-group">

        <input type="text" class="search form-control" placeholder="Search" id="big_search">
    </div>
    <hr>
    <table class="table" >
        <thead>
            <th>Species </th>
        </thead>
        <tbody class="list">
            {% for s in species %}
                    <tr>
                        <td class="species"><a href="../../../../data-manage/population/new/0/species={{ s.id }}/publication={{publication.id}}"><em>{{ s.species_accepted }}</em></a></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='list.js') }}"></script>
<script src="{{ url_for('static', filename='list.pagination.min.js') }}"></script>

<script>
$(function() {
	var options = {
		valueNames: [ 'species'],
	};

    
	var userList = new List('species-search', options);
	var activeFilters = [];


    //filter
    $('.filter').change(function() {
        var isChecked = this.checked;
        var value = $(this).data("value");
      
		if(isChecked){
			//  add to list of active filters
			activeFilters.push(value);
		}
		else
		{
			// remove from active filters
			activeFilters.splice(activeFilters.indexOf(value), 1);
		}
		
		userList.filter(function (item) {
			if(activeFilters.length > 0)
			{
				return(activeFilters.indexOf(item.values().growthtype)) > -1;
			}
			return true;
		});
     });
    
    
    
});
       
</script>

<script>
function htmlreplace(a, b, element) {    
    if (!element) element = document.body;    
    var nodes = element.childNodes;
    for (var n=0; n<nodes.length; n++) {
        if (nodes[n].nodeType == Node.TEXT_NODE) {
            var r = new RegExp(a, 'gi');
            nodes[n].textContent = nodes[n].textContent.replace(r, b);
        } else {
            htmlreplace(a, b, nodes[n]);
        }
    }
}

htmlreplace('None', 'Unknown');
</script>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
