{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Compadrino Zone - Demography Database{% endblock %} {% block page_content %}
<h1>Compadrino zone</h1>
<hr>
<h3>Hi {{current_user.name}}!</h3>
<p>Node: {{current_user.institute.institution_name}}</p>
<p>Your head compadrino is...{{current_user.institute.head_compadrino}}</p>
    
<div class="row">
    <div class="col-sm-3">
        <div class="info_box">
            <h3>Quick links:</h3>
                <ul>
                    <li><a href= "{{ url_for('main.protocol_page') }}">Protocol</a></li>
                    <li><a href= "https://slack.com/signin" target="_blank"></a>Slack</li>
                    <!--<li>PDF host</li>-->
                </ul>
        </div>
        <div class="info_box">
            <h3>Compadrino actions:</h3>
            <p>List of unclaimed publications</p>
            <p><a href="../data-manage/publication/new/0"><span class="glyphicon glyphicon-plus-sign"></span> Add a new publication</a></p>
            <p>Search by species</p>
            <p><a href="../../../data-manage/species/new/0"><span class="glyphicon glyphicon-plus-sign"></span> Add a new species</a></p>
            <p><a href= "{{ url_for('.useredits') }}">My edits</a></p>
            <p><a href="{{ url_for('main.user', username=current_user.username) }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span>View public profile</a></p>
        </div>
        {% if current_user.role_id == 1 %}
        <div class="info_box">
            <h3>Admin actions</h3>
            <p>Recent compadrino actions</p>
            <p><a href="{{url_for('admin.new_institute_admin')}}"><span class="glyphicon glyphicon-plus-sign"></span>Add new institute</a></p>
            <p><a href="{{ url_for('admin.institutes_page') }}"><span class="glyphicon glyphicon-new-window"></span>Edit institutions</a></p>
        </div>
        {% endif %}
    </div>
    
    <div class="col-sm-9">
        <div class="info_box"> 
            <h3>Your currently assigned publications:</h3>
        </div>
        
        
    </div>
</div>
 {% endblock %} {% block scripts %}  {{ super() }} {{ pagedown.include_pagedown() }} {% endblock %}