{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Demography Database - Data Input{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Data Input Form</h1>
    
    <h3><a href="" onclick="goBack()"> <span class="glyphicon glyphicon-circle-arrow-left"></span> Go back to previous page - changes will NOT be saved</a></h3>
    
    {% if publication %}
    <h3><strong>Publication:</strong> {{publication.authors}} </h3>
    {% endif %}
    
    {% if species %}
    <h3><strong>Species:</strong> <i>{{species.species_accepted}}</i></h3>
    {% endif %}
    
    {% if population %}
    <h3><strong>Population:</strong> {{population.population_name}}</h3>    
    {% endif %}
    
</div>
<form method="post" role="form">
    <div class="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
    </div>
<div class="form">
    <div class="info_box">
        <h3>Population Information</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Species Author</th>
                    <th>Publication</th>
                </tr>
            </thead>
            <tbody>
                <h3></h3>
                {% for pops in species_author_populations %}
                <tr class="remove_duplicates">
                    
                    <td>{{pops.species_author}}</td>
                    <td>{{pops.publication.authors}}, {{pops.publication.year}}, {{pops.publication.DOI_ISBN}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
            
            
        {{ wtf.form_field(form.species_author) }}
        <p>{{ protocol_dict["species_author"] }}</p>
        <hr>
        {{ wtf.form_field(form.population_name) }}
        <p>{{ protocol_dict["population_name"] }}</p>
        <hr>
        {{ wtf.form_field(form.ecoregion) }}
        <p>{{ protocol_dict["population_ecoregion"] }}</p>
        <hr>
        {{ wtf.form_field(form.invasive_status_study) }}
        <p>{{ protocol_dict["population_invasive_status_study"] }}</p>
        <hr>
        {{ wtf.form_field(form.invasive_status_elsewhere) }}
        <p>{{ protocol_dict["population_invasive_status_elsewhere"] }}</p>
        <hr>
        {{ wtf.form_field(form.country) }}
        <p>{{ protocol_dict["population_country"] }}</p>
        <hr>
        {{ wtf.form_field(form.population_nautical_miles) }}
        <p>{{ protocol_dict["population_nautical_miles"] }}</p>
        <hr>
        {{ wtf.form_field(form.continent) }}
        <p>{{ protocol_dict["population_continent"] }}</p>
    </div>
    <div class="info_box">
        <h3>Coordinates and altitude</h3>
        <p>Get coordinates from <a href="https://www.gps-coordinates.net/">https://www.gps-coordinates.net/</a></p>
        <div class="row">
            <div class="col-sm-3">{{ wtf.form_field(form.lat_ns) }}<p>{{ protocol_dict["lat_ns"] }}</p></div>
            <div class="col-sm-3">{{ wtf.form_field(form.lat_deg) }}<p>{{ protocol_dict["lat_deg"] }}</p></div>
            <div class="col-sm-3">{{ wtf.form_field(form.lat_min) }}<p>{{ protocol_dict["lat_min"] }}</p></div>
            <div class="col-sm-3">{{ wtf.form_field(form.lat_sec) }}<p>{{ protocol_dict["lat_sec"] }}</p></div>
        </div>
            
        <div class="row">
            <div class="col-sm-3">{{ wtf.form_field(form.lon_ew) }}<p>{{ protocol_dict["lon_ew"] }}</p></div>
            <div class="col-sm-3">{{ wtf.form_field(form.lon_deg) }}<p>{{ protocol_dict["lon_deg"] }}</p></div>
            <div class="col-sm-3">{{ wtf.form_field(form.lon_min) }}<p>{{ protocol_dict["lon_min"] }}</p></div>
            <div class="col-sm-3">{{ wtf.form_field(form.lon_sec) }}<p>{{ protocol_dict["lon_sec"] }}</p></div>
        </div>
                
        {{ wtf.form_field(form.altitude) }}
    </div>
    <div class="info_box">
        <h3>Study Information</h3>
        {{ wtf.form_field(form.study_start) }}
        <p>{{ protocol_dict["study_start"] }}</p>
        <hr>
        {{ wtf.form_field(form.study_end) }}
        <p>{{ protocol_dict["study_end"] }}</p>
        <hr>
        {{ wtf.form_field(form.purpose_endangered) }}
        <p>{{ protocol_dict["study_purpose_endangered"] }}</p>
        <hr>
        {{ wtf.form_field(form.purpose_weed) }}
        <p>{{ protocol_dict["study_purpose_weed"] }}</p>
        
        
    </div>
    <div class="info_box">
        <h3>Submit</h3>
        {{ wtf.form_field(form.submit) }}
    </div>
</div>
</form>

<script>
 
    function goBack() {
        window.history.go(-1);
    }
</script>


<script>
    // remove duplicate publications
    var seen = {};
    $('.remove_duplicates').each(function () {
        var txt = $(this).text();
        if (seen[txt]) $(this).remove();
        else seen[txt] = true;
    });
    var x = document.getElementsByClassName("remove_duplicates");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.visibility = "visible";
    }
</script>

{% endblock %}
