{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3><a href="" onclick="goBack()"> <span class="glyphicon glyphicon-circle-arrow-left"></span> Go back to previous page - changes will NOT be saved</a></h3>
    {% if publication %}
    <h3>Editing infomation for <i>{{publication.authors}}</i></h3>
    {% endif %}
</div>


<form method="post" role="form">

    <div class="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
    </div>
    <div class="form">
        <div class="info_box">
            <h3>What type of source?</h3>
            {{ wtf.form_field(form.source_type) }}
            <p>{{ protocol_dict["publication_source_type"] }}</p>
            <hr>
        </div>
        <div class="info_box">
            <h3>Get information from DOI via <a target="_blank" href="https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md">Crossref API</a> (Does not work for ISBN)</h3>
            <div class="row">
                <div class="col-sm-6">  
                        {{ wtf.form_field(form.DOI_ISBN) }}
                        <a class="btn btn-default" onclick="Javascript:getdoiinfo()">Get info from DOI</a>
                </div>
            </div>
            <p>{{ protocol_dict["publication_DOI_ISBN"] }}</p>
            <hr>
        </div>
        <div class="info_box">
            <h3>Autofilled via DOI or ISBN</h3>
            {{ wtf.form_field(form.authors) }}
            <p>{{ protocol_dict["publication_authors"] }}</p>
            <hr>
            {{ wtf.form_field(form.editors) }}
            <p>{{ protocol_dict["publication_editors"] }}</p>
            <hr>
            {{ wtf.form_field(form.journal_name)}}
            <p><a href="https://images.webofknowledge.com/images/help/WOS/A_abrvjt.html" target="_blank">Full list of journal abbreviations</a></p>
            <p>{{ protocol_dict["publication_journal_name"] }}</p>
            <hr>
            {{ wtf.form_field(form.year) }}
            <p>{{ protocol_dict["publication_year"] }}</p>
            <hr>
            {{ wtf.form_field(form.volume) }}
            <p>{{ protocol_dict["publication_volume"] }}</p>
            <hr>
            {{ wtf.form_field(form.pages) }}
            <p>{{ protocol_dict["publication_pages"] }}</p>
            <hr>
            {{ wtf.form_field(form.publisher) }}
            <p>{{ protocol_dict["publication_publisher"] }}</p>
            <hr>
            {{ wtf.form_field(form.city) }}
            <p>{{ protocol_dict["publication_city"] }}</p>
            <hr>
            {{ wtf.form_field(form.country) }}
            <p>{{ protocol_dict["publication_country"] }}</p>
            <hr>
            {{ wtf.form_field(form.institution) }}
            <p>{{ protocol_dict["publication_institution"] }}</p>
            <hr>
            {{ wtf.form_field(form.pub_title) }}
            <p>If this is in all caps then use <a href ="https://convertcase.net/">convertcase.net</a> to change it to Capitalized case.</p>
            <p>{{ protocol_dict["publication_pub_title"] }}</p>
            
        </div>
        <div class="info_box">
            <h3>Must be input manually</h3>
            {{ wtf.form_field(form.purposes) }}
            <p><i>Hold ctrl (or command on Mac) to select more than one purpose.</i></p>
            <p>{{ protocol_dict["publication_purpose_etc"] }}</p>
            <hr>
            {{ wtf.form_field(form.embargo) }}
            <p>{{ protocol_dict["publication_embargo"] }}</p>
            <hr>
            {{ wtf.form_field(form.additional_source_string) }}
            <p>{{ protocol_dict["publication_additional_source_string"] }}</p>
            <hr>
            {{ wtf.form_field(form.study_notes) }}
            <p>{{ protocol_dict["publication_study_notes"] }}</p>
        </div>
    </div>



    <div class="info_box">
        <h3>Submit data</h3>
            {{ wtf.form_field(form.missing_data) }}
            <p><i>Hold ctrl (or command on Mac) to select more than one purpose.</i></p>
            <p>{{ protocol_dict["publication_missing_data"] }}</p>
        <hr>
        {{ wtf.form_field(form.student) }}
            <p>{{ protocol_dict["publication_student"] }}</p>
            {{ wtf.form_field(form.submit) }}
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

<script>
    
    function getData(url, successCallback) {
        $.getJSON(url, function(data) {
            
            // Process the data in some way - e.g. extract the section of the response that you want
            successCallback(data);
        });
    }
    
    function toTitleCase(str){
        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    function getdoiinfo() {
        var doi_given = document.getElementById("DOI_ISBN").value
        console.log("Getting data...")
        getData('http://api.crossref.org/works/'+doi_given, function(data) {
            document.getElementById("authors").value = "";
            if (data.message.author){
                var author_length = data.message.author.length
                for (var i = 0; i < author_length; i++) {
                    document.getElementById("authors").value = document.getElementById("authors").value + toTitleCase(data.message.author[0,i].family);
                    if (i != author_length - 1) {
                        document.getElementById("authors").value = document.getElementById("authors").value + ", "
                    }
                }
            }
            
            document.getElementById("editors").value = "NA";
            document.getElementById("journal_name").value = data.message["container-title"][0];
            
            if (data.message["issued"]){
                document.getElementById("year").value = data.message["issued"]["date-parts"][0];
            }else{
                document.getElementById("year").value = "NA"
            }
            
            document.getElementById("year").value = data.message["issued"]["date-parts"][0];
            document.getElementById("year").value = document.getElementById("year").value.substring(0,4)
            
            if (data.message["volume"]){
                document.getElementById("volume").value = data.message["volume"];
            }else{
                document.getElementById("volume").value = "NA"
            }
            
            document.getElementById("pages").value = data.message.page;
            document.getElementById("publisher").value = data.message.publisher;
            document.getElementById("city").value = "NA";
            document.getElementById("country").value = "NA";
            document.getElementById("institution").value = "NA";
            document.getElementById("DOI_ISBN").value = doi_given;
            document.getElementById("pub_title").value = data.message.title;
            document.getElementById("pub_title").value = toTitleCase(document.getElementById("pub_name").value)
            console.log("Received data...")
            
        });
    }
              
</script>

<script>

    function goBack() {
        window.history.go(-1);
    }
</script>
{% endblock %}
