{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Demography Database - Data Input{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Data Input Form</h1>
    
    <h3><a href="" onclick="goBack()"> <span class="glyphicon glyphicon-circle-arrow-left"></span> Go back to previous page - changes will NOT be saved</a></h3>
    
    {% if publication %}
    <h3><strong>Publication:</strong> {{publication.authors}} </h3>
    {% endif %}
    
    {% if species %}
    <h3><strong>Species:</strong> <i>{{species.species_accepted}}</i></h3>
    {% endif %}
    
    {% if population %}
    <h3><strong>Population:</strong> {{population.population_name}}</h3>    
    {% endif %}
    
</div>
<form method="post" role="form">
    <div class="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
    </div>
<div class="form">
    <div class="info_box">            
        {{ wtf.form_field(form.species_accepted) }}
        <p>{{ protocol_dict["species_accepted"] }}</p>
        <hr>
        {{ wtf.form_field(form.species_common) }}
        <p>{{ protocol_dict["species_common"] }}</p>
        <hr>
        {{ wtf.form_field(form.iucn_status) }}
        <p>{{ protocol_dict["species_iucn_status"] }}</p>
        <hr>
        {{ wtf.form_field(form.gbif_taxon_key) }}
        <p>{{ protocol_dict["species_gbif_taxon_key"] }}</p>
        <hr>
        {{ wtf.form_field(form.species_iucn_taxonid) }}
        <p>{{ protocol_dict["species_iucn_taxonid"] }}</p>
        <hr>
        {{ wtf.form_field(form.image_path) }}
        <p>{{ protocol_dict["image_path"] }}</p>
        <hr>
        {{ wtf.form_field(form.image_path2) }}
        <p>{{ protocol_dict["image_path2"] }}</p>
    </div>


    <div class="info_box">
        <h3>Submit</h3>
        {{ wtf.form_field(form.submit) }}
    </div>
</div>
</form>

<script>
 
    function goBack() {
        window.history.go(-1);
    }
</script>


<script>
    // remove duplicate publications
    var seen = {};
    $('.remove_duplicates').each(function () {
        var txt = $(this).text();
        if (seen[txt]) $(this).remove();
        else seen[txt] = true;
    });
    var x = document.getElementsByClassName("remove_duplicates");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.visibility = "visible";
    }
</script>

{% endblock %}
