{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Demography Database - Data Input{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Update status</h1>
    <h3><a href="" onclick="goBack()"> <span class="glyphicon glyphicon-circle-arrow-left"></span> Go back to previous page - changes will NOT be saved</a></h3>

</div>
<div class="info_box">
    {{ wtf.quick_form(form) }}
</div>


{% endblock %}
{% block scripts %}

    
<script>

    function goBack() {
        window.history.go(-1);
    }
</script>
{% endblock %}
