{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}

<div class="page-header">
<h1>
Are you interested in learning about demography and it's applications?</h1><h2><i> Then check out our education pages below!
<i></h2>
</div>
<div class = "info_box_green">
<h3> What is a life cycle? </h3>
	<h4><i> by Danny Buss </i></h4>
		<a href="{{ url_for('resources.lifecycles') }}">Lifecycles</a>
			<div class="centred">
				<img src="/../../static/images/lifecycle_example.png" width= "500" height="100" alt="hi" />
			</div>
</div>
<div class = "info_box"> 
<h3> What is a population projection matrix (PPM)? </h3>
	<h4><i> by Iain Stott </i></h4>
		<a href="{{ url_for('resources.education_ppm') }}">What is a Matrix Model?</a>
</div>
<div class = "info_box_green"> 
<h3> Handy R Packages </h3>
	<h4><i> by Danny Buss </i></h4>
		<a href="{{ url_for('resources.r_resources') }}">R Packages and Information</a>
</div>
<div class = "info_box">
<h3> Demography Publications </h3>
	<h4><i> handpicked by Rob Salguero-Gomez and Owen Jones </i></h4>
		<a href="{{ url_for('resources.publications') }}">Publications</a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
