{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}

<div class="page-header">
	<h1>
		What is a lifecycle?
		<br><br>
		<div class="footer"><img src="/../../static/images/lifecycle_example.png" width= "350" height="70" alt="hi"/>
		</div>
	</h1>
</div>
<div class="info_box">
	<h2>Introduction</h2>
</div>
<div class="info_box_green">
	<h2>Lifecycle of the Eurasian Badger, <i> Meles meles </i></h2>
		<h4><i> by Anna Sambrook </i></h4>
		<div class="row">
			<ul>
				<li>The Eurasian Badger population commonly follows a Pyramidal Age Structure.</li>
				<li><p>Social group size can vary from 1-27 individuals</li>
				<li>The percentage of individuals in each age class varies with group size.</li>
				<li>A greater number of Badgers are in the younger age classes as group size increases.</li>
				<li>This is partly due to more individuals moving up an age class and reproducing.</li>
			</ul>
		</div>
	<div class="post-footer">
		<img src="/../../static/images/BadgerSilhouette.jpg" width= "155" height="120" alt="hi"/>
	</div>			
	<div class="centred">
		<img src="/../../static/images/grass.png" width= "1055" height="150" alt="hi"/>
	</div>	
</div>
<div class="info_box_green">
	<h2>Lifecycle of the ? ?, <i>Tillandsia multicaulis</i></h2>
		<h4><i> by Danny Buss </i></h4>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}