{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}

<div class="page-header">
		<h1>
			What is a lifecycle?
		</h1>
		<br>
		<div class="row">
			<div class="col-xs-4">
   				<div class="footer"><img src="/../../static/images/butterflylifecycle.jpg" width= "340" height="280" alt="hi"/></div>
   			</div>
   			<div class="col-xs-4">
   				<div class="column-centre"><img src="/../../static/images/froglifecycle.jpg.png" width= "370" height="280" alt="hi"/></div>
   			</div>
   			<div class="col-xs-4">
   				<div class="column-right"><img src="/../../static/images/oaktree.jpg" width= "300" height="290" alt="hi"/></div>
   			</div>
		</div>
</div>
	<div class="section">
		<h3>
			The various stages a living thing goes through during its life, these are mainly described in two ways:
			<br><br>
			<div class="section">
				<div style="width: 80%; float:left">
   					<ol>
						<li> In terms of years, for example, Charlie the dog is 6 months old. </li>
						<br>
						<li>In terms of life-stage, for example, Charlie the dog is an adolescent.</li>
						<br>
					</ol>
				</div>
				<div style="width: 20%; float:right">
   					<div class="aside"><img src="/../../static/images/puppy2.jpg" width= "180" height="140" alt="hi"/>
   					</div>
				</div>
			</div>
	</div>
	<div class="section">
		<h3>
			<p>
				Both methods are found throughout the demography database and can be used to describe how proportions of individuals within populations can change through time, most commonly between years.
				<br><br>
			</p>
		</h3>
		<hr width="50%" size="8" align="center">
	</div>
<div class="section">
		<h2><br>Lifecycle examples - species within the Demography Database:
		</h2>
	 <hr width="50%" size="8" align="center">
</div>
<div class="info_box_empty">
	<h3><bold>Lifecycle of the North American Moose, <i> Alces alces </i></bold></h3>
		<h5><i> by Danny Buss, Exeter Node</i></h5>
		<div class="section">
				<div style="width: 70%; float:left">
					<ul>
						<li>This North American Moose population is stage-structured and displayed here using 3 life stages.</li>
						<li>The percentage of individuals in each age class varies between populations and within populations between years.</li>
						<li>90.7% of Adults Survive over one year</li>
						<li>On average, each adult produces 1.12 calves per year</li>
						<li>Approximately 40% of calves survive their first year to become yearlings</li>
						<li>100% of yearlings survive to become adults</li>
					</ul>
					<hr>
						<div class="footer"><span class="nounderline glyphicon glyphicon-question-sign"></span> If we have 500 Adults, 300 Yearlings and 120 Calves, can you work out how this population is predicted to change over a 1-year time interval?</div>
				</div>
				<div style="width: 30%; float:right">
					<img src="/../../static/images/moose2.png" width= "165" height="130" alt="hi"/>
				</div>
		</div>			
		<div class="centred">
			<a href="http://demography.ex.ac.uk/species=all/publications=623"><img src="/../../static/images/Alces alces.png" width= "700" height="340" alt="hi"/></a>
		</div>
		<hr width="50%" size="8" align="center">
	<div class="centred">
		<p><bold><italic>
			This species is native to North America. For more information, please visit the species page <a href="http://demography.ex.ac.uk/species=743/publications=all">here</a><br>
		</italic></bold></p>
	</div>
</div>
<div class="info_box_empty">
	<h3><bold>Lifecycle of the Eurasian Badger, <i> Meles meles </i></bold></h3>
		<h5><i> by Anna Sambrook, Exeter Node</i></h5>
		<div class="section">
				<div style="width: 70%; float:left">
					<ul>
						<li>The Eurasian Badger population commonly follows a Pyramidal Age Structure.</li>
						<li>Social group size can vary from 1-27 individuals</li>
						<li>The percentage of individuals in each age class varies with group size.</li>
						<li>A greater number of Badgers are in the younger age classes as group size increases.</li>
						<li>This is partly due to more individuals moving up an age class and reproducing.</li>
						<li>75% of Adults aged 2 or over Survive over one year</li>
						<li>Each adult aged 1-2 produces 0.5 cubs per year</li>
						<li>Each adult aged 2 or over produces 1 cub per year</li>
						<li>20% of cubs ages 0-1 survive to become aged 1-2</li>
						<li>50% of adolescents aged 1-2 survive to become aged 2-3</li>
					</ul>
					<hr>
						<div class="footer"><span class="nounderline glyphicon glyphicon-question-sign"></span> If we have 30 Adults (2-3+), 20 Adolescents (1-2) and 10 Cubs (0-1), can you fill in the numbers on the arrows representing transitions and work out how this population is predicted to change over a 1-year time interval?</div>
				</div>
				<div style="width: 30%; float:right">
					<img src="/../../static/images/BadgerSilhouette.jpg" width= "155" height="120" alt="hi"/>
				</div>
		</div>			
		<div class="centred">
			<img src="/../../static/images/Meles_meles_dot.png" width= "600" height="250" alt="hi"/>
		</div>
		<hr width="50%" size="8" align="center">
	<div class="centred">
		<p><bold><italic>
			This species is native to Europe. For more information, please visit the species page <a href="https://en.wikipedia.org/wiki/European_badger" target="_blank">here</a> (species page and ppms coming soon)<br>
		</italic></bold></p>
	</div>
</div>
<div class="info_box_empty">
	<h3><bold>Lifecycle of the Spear Thistle, <i> Cirsium Vulgare </i></bold></h3>
		<h5><i> by Danny Buss, Exeter Node</i></h5>
		<div class="section">
				<div style="width: 72%; float:left">
					<ul>
						<li>This Spear Thistle population is stage-structured and displayed here using 4 life stages.</li>
						<li>31.4% of Large Rosette plants survive over one year</li>
						<li>20.7% of Medium Rosette plants survive and remain as Medium Rosettes throughout the year</li>
						<li>On average, each Large Rosette plant produces 187.47 seeds that do not go onto germinate in that given year</li>
						<li>On average, each Large Rosette plant produces another 27.69 seeds that germinate and grow to become Small Rosettes</li>
						<li>1.1% of ungerminated seeds do not germinate and remain in the seed bank for the following year</li>

						Can you complete the missing percentages using the lifecycle diagram below (click ? to reveal):
						<li><span style="display: none;" id="hiddenText"> 0.2 </span> ......% of seeds that did not germinate the previous year grow to become Small Rosettes<a href="#" onclick="$('#hiddenText').show(); return false;">?</a></li>
						<li><span style="display: none;" id="hiddenText2"> 16 </span> ......% of Small Rosettes survive and grow into Medium Rosettes<a href="#" onclick="$('#hiddenText2').show(); return false;">?</a></li>
						<li><span style="display: none;" id="hiddenText3"> 11.5 </span> ......% of Small Rosettes survive and grow into Medium Rosettes  <a href="#" onclick="$('#hiddenText3').show(); return false;">?</a></li>
						<li><span style="display: none;" id="hiddenText4"> 43.4 </span> ......% of Medium Rosettes survive and grow into Large Rosettes  <a href="#" onclick="$('#hiddenText4').show(); return false;">?</a></li>
					</ul>
					<hr>
						<div class="footer"><span class="nounderline glyphicon glyphicon-question-sign"></span> If we have 100 Adults, 30 SubAdults, 50 Juveniles and 120 Seedlings, can you work out how this population is predicted to change over a 1-year time interval?</div>
				</div>
				<div style="width: 28%; float:right">
					<img src="/../../static/images/thistlesilhouette.jpg" width= "165" height="172" alt="hi" class="rotate30"/>
				</div>
		</div>			
		<div class="centred">
			<a href="http://demography.ex.ac.uk/species=all/publications=186"><img src="/../../static/images/Cirsium vulgare_dot.png" width= "700" height="340" alt="hi"/></a>
		</div>
		<hr width="50%" size="8" align="center">
	<div class="centred">
		<p><bold><italic>
			This species is of the daisy genus Cirsium, native throughout most of Europe, Western Asia, and northwestern Africa. For more information, please visit the species page <a href="http://demography.ex.ac.uk/species=205/publications=all">here</a><br>
		</italic></bold></p>
	</div>
</div>
<!-- Did not use this species in the end but kept in case useful for more education pages -->
<!-- <div class="info_box_green">
	<h2>Lifecycle of the ? ?, <i>Tillandsia multicaulis</i></h2>
		<h4><i> by Danny Buss </i></h4>
		<div class="row">
			<ul>
				<li>This plant species is found globally as an indoor house plant, common in people's conservatories or summerhouses.</li>
				<li>Life-stage info:...</li>
				<li>This species is native to Central America and Mexico. For more information including available matrices in the database, please visit the species page <a href="" here></a></li>
				<li>This species is an Epiphyte. An Epiphyte is a plant that grows on the surface of another plant (<a href="">Click here</a> for more information on Epihytes). 
				<li>Spikes of blue tubular flowers are produced in May.</li>
				<li>Rosettes of simple linear everygreen leaves.</li>
				<li>A perennial species that reaches heights of 20-40cm. 
			</ul>
		</div>
</div> -->

<div class="info_box_empty">
	<h3><bold>Lifecycle of the common rhododendron, <i> Rhododendrum ponticum </i></bold></h3>
		<h5><i> by Danny Buss, Exeter Node</i></h5>
		<div class="section">
				<div style="width: 72%; float:left">
					<ul>
<li>This Rhododendron population is stage-structured and displayed here using 4 life stages.</li>
						<li>The percentage of individuals in each stage class varies between populations and within populations between years.</li>
						<li>90.8% of Adults Survive over one year</li>
						<li>68.4% of SubAdults Survive and remain as SubAdults over one year</li>
						<li>On average, each Adult plant produces 2.445 seedlings that survive to the following year</li>
						<li>On average, each Adult plant produces another 0.016 seedlings that survive and grow large enough to become juveniles throughout the year</li>
						<li>22.5% of Seedlings grow to become Juvenile-sized plants throughout the year</li>

						Can you complete the missing percentages using the lifecycle diagram below (click ? to reveal):
						<li><span style="display: none;" id="hiddenText5"> 44.45 </span> ......% of Juveniles grow to become SubAdult-sized plants throughout the year  <a href="#" onclick="$('#hiddenText5').show(); return false;">?</a></li>
						<li>On average, each SubAdult plant produces...<span style="display: none;" id="hiddenText6"> 1.4 </span>...seedlings that survive to the following year  <a href="#" onclick="$('#hiddenText6').show(); return false;">?</a></li>
						<li><span style="display: none;" id="hiddenText7"> 19.5 </span> ......% of SubAdults grow to become Adult plants throughout the year  <a href="#" onclick="$('#hiddenText7').show(); return false;">?</a></li>
						<li><span style="display: none;" id="hiddenText8"> 53 </span> ......% of Juveniles Survive and Remain as Juvenile plants over one year  <a href="#" onclick="$('#hiddenText8').show(); return false;">?</a></li>
					</ul>
					<hr>
						<div class="footer"><span class="nounderline glyphicon glyphicon-question-sign"></span>If we have 100 Adults, 30 SubAdults, 50 Juveniles and 120 Seedlings, can you work out how this population is predicted to change over a 1-year time interval?</div>
				</div>
				<div style="width: 28%; float:right">
					<img src="/../../static/images/rhod.jpg" width= "165" height="165" alt="hi"/>
				</div>
		</div>			
		<div class="centred">
			<a href="http://demography.ex.ac.uk/species=all/publications=505"><img src="/../../static/images/Rhododendrum_ponticum_dot.png" width= "730" height="280" alt="hi"/></a>
		</div>
		<hr width="50%" size="8" align="center">
	<div class="centred">
		<p><bold><italic>
			This species is native to southern Europe and south-western Asia. For more information, please visit the species page <a href="http://demography.ex.ac.uk/species=588/publications=all">here</a><br>
		</italic></bold></p>
	</div>
</div>

<div class="info_box_green">
	<div class="centred">
		<p><bold><italic>
			Thankyou for visitng our lifecycle page. For more information on how lifecycles can be displayed in matrix format using population projecton matrices, please click <a href="{{ url_for('resources.education_ppm') }}">here</a><br>
		</italic></bold></p>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}