{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database | API{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Demography Database API</h1>
	<h2>University of Exeter</h2>
</div>

<h3>Here will be a user guide relating to the use of the API</h3>
<h4>Sample response for <code>http://localhost:5000/api/query/species/name=actaea-elata</code></h4>
<pre>
		{
		  "number_populations": 5, 
		  "plant_traits": {
		    "angio_gymno": "Angiosperm", 
		    "dicot_monoc": "Eudicot", 
		    "growth_type_id": "Herbaceous perennial", 
		    "max_height": null
		  }, 
		  "populations": [
		    "/api/query/population/2427", 
		    "/api/query/population/2428", 
		    "/api/query/population/2429", 
		    "/api/query/population/2607", 
		    "/api/query/population/2608"
		  ], 
		  "species_accepted": "Actaea elata", 
		  "taxonomy": {
		    "authority": "(Nutt.) Prantl", 
		    "family": "Ranunculaceae", 
		    "genus": "Actaea", 
		    "genus_accepted": "Actaea", 
		    "infraspecies_accepted": "NA", 
		    "kingdom": "Plantae", 
		    "phylum": "Magnoliophyta", 
		    "publication": {
		      "DOI_ISBN": "10.1007/s00442-010-1809-8", 
		      "additional_source_string": "NA", 
		      "authors": "Mayberry; Elle", 
		      "city": null, 
		      "corresponding_author": null, 
		      "country": null, 
		      "editors": null, 
		      "email": null, 
		      "embargo": null, 
		      "journal_book_conf": null, 
		      "name": null, 
		      "pages": null, 
		      "populations": [
		        "/api/query/population/2427", 
		        "/api/query/population/2428", 
		        "/api/query/population/2429"
		      ], 
		      "pub_title": null, 
		      "publisher": null, 
		      "studies": [
		        "/api/query/study/1399"
		      ], 
		      "taxonomies": [
		        "/api/query/taxonomy/1410"
		      ], 
		      "volume": null, 
		      "year": 2010
		    }, 
		    "species_accepted": "Actaea elata", 
		    "species_author": "Actaea_elata", 
		    "species_epithet_accepted": "elata", 
		    "tax_class": "Magnoliopsida", 
		    "tax_order": "Ranunculales", 
		    "taxonomic_status": "Accepted", 
		    "tpl_version": "1.1"
		  }
		}
</pre>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
