{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}

<div class="page-header">
<h1>
Are you interested in learning about demography and it's applications? Then check out our education pages below!
</h1>
</div>
<div class = "info_box">
<h3> What is a population projection matrix (PPM)? </h3>
	<h4><i> by Iain Stott </i></h4>
		<p>Need to add links to education_pages/education_matrix_modelling.html</p>
</div>
<div class = "info_box_red">
<h3> What is a life cycle? </h3>
	<h4><i> by Danny Buss </i></h4>
		<p>Need to add links to education_pages/life_cycle.html
			<br><br><i> image coming soon </i><br></p>
				<!--img src="/../../static/images/#" width= "500" height="50" alt="hi" /> -->
</div>
<div class = "info_box_green">
<h3>What is an integral projection model?</h3>
	<h4><i> by Iain Stott and Danny Buss </i></h4>
		<p>Need to add links to education_pages/IPMs.html
			<br><br><i> image coming soon </i><br></p>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
