{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}

<div class="page-header">
<h1>
A Brief History
</h1>
</div>
<div class="info_box_green">
<p><bold>The COMPADRE Plant Matrix Database and the COMADRE Animal Matrix Database are repositories containing demographic information on hundreds of plant species. It is a long-term enterprise initiated in 1989 by Jonathan Silvertown and Miguel Franco, but is currently led by Roberto Salguero-Gomez and Owen Jones. The COMPADRE team is composed of four sub-teams: a core committee, a science committee, web development and digitisation teams.</bold></p>
<br>
<p>Our goal is to make publicly available the demographic knowledge based on population projection matrices of species in the plant and animal kingdoms, and to facilitate its usage for scientific and teaching purposes.</p>
<br>
<p>This database comprises of the two former databases, COMPADRE and COMADRE and they are collectively referred to here as "The Demography Database"</p>
<br>
<p>The Demography Database is an open-access database – we only request users to register and log in prior to accessing data. This is simply so we can keep a track on how much the database is getting used. This knowledge will be extremely useful for us as we try to secure funding to maintain and grow the database over the coming years.</p>
<br>
<p>The database is now supported and hosted at the University of Exeter (Penryn Campus, Cornwall, United Kingdom). The database was formerly hosted at the Max Planck Institute for Demographic Research (Rostock, Germany) and we would like to thank the team at the Max Planck for all their hard work so far.</p>
<br>
</div>
<div class="info_box_green">
<h4>To learn more about the story and history behind COMPADRE, please listen to the podcast from the Journal of Ecology:
	<br><br>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/80064873&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</h4>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
