{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<html>
<head>
 <style>
 /* unvisited link*/
    a:link {    
            color: #006400;
            font-weight:bold;
            text-transform: capitalize;
        }
    /* visited link */
    a:visited {
            color: #3CB371;
            font-weight:bold
        }
        /* mouse over link */
        a:hover {
            color: #B0E0E6;
            font-weight:bold
                }
            /* selected link */
            a:active {
            color: #E9967A;
            font-weight:bold
                }
</style>
</head>
<div class="page-header">
<h1>
News
</h1>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2016/11/21/demographic-extrapolations-how-far-canshould-we-go/" target="_blank">Demographic extrapolations: how far can/should we go?</a> (21.11.2016)<br>
        Just because you can (extrapolate models using the available demographic data in COMPADRE and COMADRE, and other sources) doesn’t mean you should. Shaun Coutts and colleagues have published a work in Ecology Letters asking how far can one extrapolate demographic outputs within and across species based on demographic knowledge, geographic and phylogenetic distance […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=381&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
    </body>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2016/08/21/the-power-of-comparative-demography-booms-and-busts/" target="_blank">The power of comparative demography: booms and busts</a> (21.8.2016)<br>
    Jenni McDonald’s work on transient dynamics using COMPADRE was recently recognized with the Postdoctoral Excellence Award of the Plant Population Ecology of the Ecological Society of America. Congrats Jenni! Here we leave you with a short summary of her work. &nbsp; The natural world is not static and populations don’t exist in a vacuum. Environmental […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=367&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2016/08/11/new-compadre-comadre-versions-are-out/" target="_blank">New COMPADRE &amp; COMADRE versions are out!</a> (11.8.2016)<br>
    Yesterday, coinciding with the symposium “Landscape demography: Population dynamics across spatial scales” at the 2016 Ecological Society of America annual meeting, where we gave the talk “Global plant and animal demography: tearing the curtain and filling up the gap“, we released the new two versions of the sister databases: COMPADRE version 4.0.0 and COMADRE version […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=294&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2016/07/18/drivers-of-realized-population-dynamics-and-compadre/" target="_blank">Drivers of realized population dynamics and COM(P)ADRE</a> (18.7.2016)<br>
    In a paper recently published in Ecology Letters, our brand new COM(P)ADRE science committee member Dave Koons, together with David Iles, Michael Schaub and our core committee member Hal Caswell,&nbsp;present a set of transient life table response experiments (LTREs) for decomposing realized population growth rates into contributions from specific vital rates and components of population […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=278&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2016/07/05/a-cornish-demographic-extravaganza/" target="_blank">A Cornish demographic extravaganza</a> (5.7.2016)<br>
    It was a rainy summers day in Cornwall, when a rare occurrence took place: comparative demographers gathered in the masses. They brought ideas, laughter, heaps of data, and collaborative thoughts and, despite some uncooperative travel troubles, they got their heads down and began to tackle the demographic problems of the 21st century. The 10-day Cornish […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=219&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2016/05/12/compadre-comadre-in-a-world-of-big-data-and-comparative-science/" target="_blank">COMPADRE &amp; COMADRE in a world of big data and comparative science</a> (12.5.2016)<br>
    A blog post by Maria Paniw Take a look at recent publications in peer-reviewed journals or popular science magazines and you cannot miss the two big trends: big data and comparative analyses. Recent reviews&nbsp;suggest that future groundbreaking, socially relevant science will be achieved through large collaborative efforts bringing together multiple datasets for a global comparison […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=174&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2015/12/07/biological-invasions-life-histories-and-compadre/" target="_blank">Biological invasions, life histories, and COMPADRE</a> (7.12.2015)<br>
    The diversity of life on Earth is amazing, and just as species have evolved all sorts of interesting physical adaptations to cope with their surroundings, so have they evolved a dazzling array of life histories (patterns of birth, growth, reproduction and survival rates) that allow individuals to pass on their genes to future generations. And […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=159&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2015/11/05/workshop-opportunities-on-macroecology/" target="_blank">Learning opportunities on macroecology</a> (5.11.2015)<br>
    The core committee of COMPADRE and COMADRE&nbsp;believe strongly in not just open-access and open-data, but also in providing tools and concepts to advance comparative biology. Consequently, we run workshops on comparative demography and macro-ecology rather frequently. Below, some of the upcoming opportunities: The COMPADRE Plant Matrix Database and COMADRE Animal Matrix Database will be integral […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=156&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2015/10/20/connecting-data-for-research/" target="_blank">Connecting data for research</a> (20.10.2015)<br>
    On October 19th 2015, one of our science committee members, Eelke Jongejans, &nbsp;attended a symposium in Amsterdam on “Connecting data for research”. Here are Eelke’s impressions about the meeting: Scientists and a board member of the Dutch Science Foundation all stressed the importance of shared data for progress in scientific research. Engaging examples like the […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=150&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2015/10/05/introducing-the-comadre-animal-matrix-database/" target="_blank">Introducing the COMADRE Animal Matrix Database</a> (5.10.2015)<br>
    Coinciding with the 3rd annual Evolutionary Demography Society conference, in Lunteren (the Netherlands), we announce the release of COMADRE v.1.0.0, an open-access database for animal demography. COMADRE comes online nearly a year after the release of its sister database, the COMPADRE Plant Matrix Database. COMADRE contains 345 animal species from 402 studies and 1,625 matrix […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=139&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
<div class="mar_top2">
    <p><a href="https://compadredb.wordpress.com/2015/08/09/compadre-3-1-0-is-here/" target="_blank">COMPADRE 3.2.0 is here!</a> (9.8.2015)<br>
    Dear COMPADRE and COMADRE users, After&nbsp;several months, and following some important decisions made at&nbsp;the second annual COMPADRE/COMADRE core committee meeting (Denmark, March 2015), we are happy to announce the launching of the second open-access version of COMPADRE: COMPADRE 3.2.0 (why the number versioning? See here). This version contains more studies, more plant matrix population models, […]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=compadredb.wordpress.com&amp;blog=70921292&amp;post=133&amp;subd=compadredb&amp;ref=&amp;feed=1" width="1" height="1"></p>
</div>
</html>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
