{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Team{% endblock %} {% block page_content %}
<div class="page-header">
    <h1>Team</h1></div>
<div class="container">
    <p>The COMPADRE and COMADRE team is composed of three sub-teams: a core committee, a science committee and a digitization team:</p>
    <div class="panel-group">
        <div class="panel panel-default" href="#collapse1" data-toggle="collapse">
            <div class="panel-heading">
                <h4 class="panel-title">
          <a  >Core Comittee</a>
        </h4> </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/salquero_gomez.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="https://sites.google.com/site/robresearchsite/" target="_blank">Rob Salguero-Gómez</a></h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/owen.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="https://owenjon.es" target="_blank">Owen Jones</a></h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/scheuerlein.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="http://www.demogr.mpg.de/en/institute/staff_directory_1899/alexander_scheuerlein_1240.htm" target="_blank">Alex Scheuerlein</a></h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/hodgson.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="http://biosciences.exeter.ac.uk/staff/index.php?web_id=david_hodgson" target="_blank">David Hodgson</a></h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/caswell.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="http://www.uva.nl/en/about-the-uva/organisation/staff-members/content/c/a/h.caswell/h.caswell.html" target="_blank">Hal Caswell</a></h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/vaupel.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="http://www.demogr.mpg.de/en/institute/staff_directory_1899/james_w_vaupel_3.htm" target="_blank">James Vaupel</a></h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/che_castaldo.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="http://jchecastaldo.weebly.com" target="_blank">Judy Che-Castaldo</a></h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/archer.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="https://www.researchgate.net/profile/C_Archer" target="_blank">Ruth Archer</a></h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/ezard.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="http://www.southampton.ac.uk/biosci/about/staff/te1e12.page" target="_blank">Tom Ezard</a></h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 bottommargin">
                                <div class="team">
                                    <div class="team-image"> <img src="http://www.compadre-db.org/images/core/buckley.jpg" class="image_frame small"> </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4><a href="http://www.tcd.ie/Zoology/research/research/buckley/" target="_blank">Yvonne Buckley</a></h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p>Vision: Discovery of how demography affects and shapes the evolution, abundance and distribution of organisms across the tree of life.</p>
                    <p>Mission: Facilitating comparative analysis of plant and animal demography through provision of data infrastructure, tools and open-access data.</p>
                    <p>Core committee member roles:</p>
                    <ul>
                        <li>Provide for the sustainability of the databases through direction setting, database development and funding applications.</li>
                        <ul>
                            <li>Contribute to annual core committee meetings</li>
                            <li>Seek & apply for funding for workshops & core meetings</li>
                        </ul>
                        <li>Facilitate the coordination and distribution of data digitization.</li>
                        <ul>
                            <li>Provide guidance on coordination of digitization through the institution of a head COMPADRino in the local node and COMPADRinos to digitize, error-check, complement and develop routines for comparative demographic analyses using matrix population models.</li>
                            <li>Seek and apply for funding opportunities to set up distributed digitization nodes and develop and contribute digitization training resources (see digitization structure figure).</li>
                        </ul>
                        <li>Collaborate on training, research and review projects on plant and animal demography as opportunities arise</li>
                        <ul>
                            <li>Initiate, lead and co-author papers, books, grant applications using the databases</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default" >
            <div class="panel-heading" href="#collapse2" data-toggle="collapse">
                <h4 class="panel-title">
          <a ref="#collapse2">Science Comittee</a>
        </h4> </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/ozgul.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.popecol.org/team/arpat-ozgul/" target="_blank">Arpat Ozgul</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/kendall.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.bren.ucsb.edu/people/faculty/bruce_kendall.htm" target="_blank">Bruce Kendall</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/conde.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://findresearcher.sdu.dk:8080/portal/en/person/dalia" target="_blank">Dalia Conde</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/koons.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://qcnr.usu.edu/directory/koons_david" target="_blank">David Koons</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/childs.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://www.shef.ac.uk/aps/staff-and-students/acadstaff/childs" target="_blank">Dylan Childs</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/eelke.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.ru.nl/animal/ep/staff/jongejans/" target="_blank">Eelke Jongejans</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/menges.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.archbold-station.org/html/aboutus/staffpages/emenges/emenges.html" target="_blank">Eric Menges</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/crone.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://ase.tufts.edu/biology/faculty/crone/" target="_blank">Elizabeth Crone</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/wardle.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://sydney.edu.au/science/people/glenda.wardle.php" target="_blank">Glenda Wardle</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/kroon.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.ru.nl/plantecology/people/de_kroon/" target="_blank">Hans de Kroon</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/yokomizo.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.nies.go.jp/rsdb/vdetail-e.php?id=205081" target="_blank">Hiroyuki Yokomizo</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/stott.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://scholar.google.com/citations?user=h8hyWUoAAAAJ&amp;hl=en" target="_blank">Iain Stott</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/bullock.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.ceh.ac.uk/staff/james-bullock" target="_blank">James Bullock</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/lebreton.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.cefe.cnrs.fr/fr/recherche/bc/bbp/843-c/256-jean-dominique-lebreton" target="_blank">Jean-Dominique Lebreton</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/metcalf.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://scholar.princeton.edu/cmetcalf/" target="_blank">Jessica Metcalf</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/maile.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://alyxia.umiacs.umd.edu/personnel/neel_maile.php" target="_blank">Maile Neel</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/evans.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.ltrr.arizona.edu/~mekevans/index.htm" target="_blank">Margaret Evans</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/mandujano.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://scholar.google.com/citations?user=xJA03CgAAAAJ&amp;hl=en" target="_blank">Maria del Carmen Mandujano</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/miguel.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://www.plymouth.ac.uk/staff/miguel-franco" target="_blank">Miguel Franco</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/man.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://english.ib.cas.cn" target="_blank">Ming Dong</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/ascencio.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://biology.cos.ucf.edu/faculty/pedro-quintana-ascencio/" target="_blank">Pedro Quintana-Ascencio</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/tremblay.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://scholar.google.com.pr/citations?user=tnR58sAAAAAJ&amp;hl=en" target="_blank">Raymond Tremblay</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/ramula.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="https://www.utu.fi/en/units/sci/units/biology/research/projects/PopDyn/Pages/Satu-Ramula.aspx" target="_blank">Satu Ramula</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/chamberlain.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://scottchamberlain.info" target="_blank">Scott Chamberlain</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/takada.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://hosho.ees.hokudai.ac.jp/~takada/eindex.html" target="_blank">Takenori Takada</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/knight.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.ufz.de/index.php?en=38645" target="_blank">Tiffany Knight</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/vandvik.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.uib.no/en/persons/Vigdis.Vandvik" target="_blank">Vigdis Vandvik</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 bottommargin">
                                    <div class="team">
                                        <div class="team-image"> <img src="http://www.compadre-db.org/images/science/vindenes.jpg" class="image_frame small"> </div>
                                        <div class="team-desc">
                                            <div class="team-title">
                                                <h4><a href="http://www.mn.uio.no/cees/english/people/researcher-postdoc/yngvildv/" target="_blank">Yngvild Vindenes</a></h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <hr>
                        <div>
                            <p>Roles</p>
                            <ul>
                                <li> Make recommendation on future directions of COMPADRE and COMADRE. </li>
                                <li> Help the core committee to obtain funding to secure the continuity of the database. </li>
                                <li> Point out missing information and/or species in the database from gray literature. </li>
                                <li> Encourage the scientific community to use COMPADRE and COMADRE. </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse3">
                <h4 class="panel-title">
          <a >Digitization Team</a>
        </h4> </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p> The COMPADRE/COMADRE digitization team (the COMPADRINOs) are organized among several nodes. Each node’s team is responsible for digitizing data for a particular subset of publications, which are then centrally merged to main databases ready for release to the public. In addition to digitizing, the team conducts a series of error checks and supplements the published data with additional information where necessary. Wherever required, and where possible, the COMPADRINOs contact the original publication authors to obtain any missing information. </p>
                    <p></p>
                    <p> <img src="http://www.compadre-db.org/images/organisationchart.png" alt="Organisation Chart"> </p>
                    <p> <b>Current COMPADRINOs</b> </p>
                    <p> Alain Finn: Research Assistant; joined 2016 (Trinity College Dublin)
                        <br> Christina Harden: B.S., Environmental &amp; Sustainability Sciences; joined 2016 (Lincoln Park Zoo)
                        <br> Danny Buss: Computing Development Officer, joined 2015 (University of Exeter)
                        <br> Elisa Teichmann: B.Sc. Biology; joined 2015 (MPIDR)
                        <br> Jakob Voigt: B.A. Social Sciences (B. Sc. Business Informatics starting in October 2016); joined 2014 (MPIDR)
                        <br> Janek Meißner: B.Sc. Biology; joined 2015 (MPIDR)
                        <br> Julia Wille: M.Sc. Demography; joined 2013 (MPIDR)
                        <br> Kevin Healy: Postdoc. Variation in life-history traits in plants and animals; joined 2015 (Trinity College Dublin)
                        <br> Philip Wilson: B.Sc. Zoology; joined 2016 (University of Exeter)
                        <br> Sandra Schneider: M. Sc. Demography; joined 2014 (MPIDR)
                        <br> Simon Rolph: PhD Ecology &amp; Evolution (Sheffield); joined 2016
                        <br> Veronika Sommer: M.Sc. Functional Plant Science; joined in 2014 (MPIDR)
                        <br> </p>
                    <p> <b>Former COMPADRINOs</b> </p>
                    <p> Gesa Römer, Claudia Farack , Christoph Bein, Erik Brinks, Hendrik de Buhr, Gabriela Cosma, Alexander Hartmann, Anne Henning, Gabriel Hoppe, Christin Endert, Elizabeth McCuaig, Jens Runge, Tara Ruoff, Henry Tai, Bonnie Waring, Angela Zeh, Stefan Zeh. </p>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %} {% block scripts %} {{ super() }} {{ pagedown.include_pagedown() }} {% endblock %}