{% extends "base.html" %}

{% block title %}Demography Database - Internal Server Error{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Internal Server Error</h1>
    	<p>
    		Please refresh the previous page and try again. If this error continues, please visit out report an error page and send us a message, describing exactly what you were trying to do at the time of fault. We apologise for any inconvenience. Kind regards, the demography database CDO team.
    	</p>
</div>
{% endblock %}
