{% for e in exact %}
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
  	<div class="panel-heading" role="tab" id="headingOne">
	      	<h4 class="panel-title">
				{{ e.population.species.species_accepted }}
			</h4>
		</div>
  	<div class="row verbose-topic">
			<span class="col-xs-4 verbose-entry"><strong>Species Accepted: </strong>
			{{ e.population.species.species_accepted }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Journal/Publication Title: </strong>
			{{ e.population.publication.pub_title }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Year Publication Published: </strong>
			{{ e.population.publication.year }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Publication Authors: </strong>
			{{ e.population.publication.authors }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Population Name: </strong>
			{{ e.population.name }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Matrix Composition: </strong>
			{{ e.matrix_composition.comp_name }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Matrix Treatment: </strong>
			{{ e.treatment.type_name }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Matrix Start: </strong>
			{{ e.matrix_start }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Observation: </strong>
			{{ e.observations }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Matrix A String: </strong>
			{{ e.matrix_a_string }}</span>
			<button class="btn btn-success">Accept</button>
		</div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          More Information <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="row verbose-topic">
      	<div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
	      	<h4 class="panel-title">
				Matrix Information
			</h4>
		</div>
		<div class="panel-body">
		<span class="col-xs-4 verbose-entry"><strong>Matrix Treatment: </strong>
			{{ e.treatment.type_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Split: </strong>
			{{ e.matrix_split }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Composition: </strong>
			{{ e.matrix_composition.comp_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Survival Issue: </strong>
			{{ e.survivial_issue }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Periodicity: </strong>
			{{ e.periodicity }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Criteria Size: </strong>
			{{ e.matrix_criteria_size }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Criteria Ontogeny: </strong>
			{{ e.matrix_criteria_ontogeny }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Criteria Age: </strong>
			{{ e.matrix_criteria_age }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Start: </strong>
			{{ e.matrix_start }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix End: </strong>
			{{ e.matrix_end }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Start Season: </strong>
			{{ e.matrix_start_season_id }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix End Season: </strong>
			{{ e.matrix_end_season_id }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Fec: </strong>
			{{ e.matrix_fec }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix A String: </strong>
			{{ e.matrix_a_string }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Class String: </strong>
			{{ e.matrix_class_string }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Studied Sex: </strong>
			{{ e.studied_sex.sex_code }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Captivity: </strong>
			{{ e.captivities }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Dimension: </strong>
			{{ e.matrix_dimension }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Matrix Observations: </strong>
			{{ e.observations }}</span>
	</div>
	</div>
	<div class="row verbose-topic">
		<div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
	      	<h4 class="panel-title">
				Species &amp; Taxonomy Information
			</h4>
		</div>
		<div class="panel-body">
		<span class="col-xs-4 verbose-entry"><strong>Species Accepted: </strong>
			{{ e.population.species.species_accepted }}</span>
		<span class="col-xs-4 verbose-entry"><strong>IUCN Status: </strong>
			{{ e.population.species.iucn_status.status_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>ESA Status: </strong>
			{{ e.population.species.esa_status.status_name}}</span>
		<span class="col-xs-4 verbose-entry"><strong>Invasive Status: </strong>
			{{ e.population.species.invasive_status }}</span>			
		<span class="col-xs-4 verbose-entry"><strong>Species Author: </strong>
			{{ e.population.species.taxonomies[0].species_author }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Authority: </strong>
			{{ e.population.species.taxonomies[0].authority }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Taxonomic Status: </strong>
			{{ e.population.species.taxonomies[0].taxonomic_status.status_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>TPL Version: </strong>
			{{ e.population.species.taxonomies[0].tpl_version }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Infraspecies Accepted: </strong>
			{{ e.population.species.taxonomies[0].infraspecies_accepted }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Species Ephitet Accepted: </strong>
			{{ e.population.species.taxonomies[0].species_epithet_accepted }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Genus Accepted: </strong>
			{{ e.population.species.taxonomies[0].genus_accepted }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Genus: </strong>
			{{ e.population.species.taxonomies[0].genus }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Family: </strong>
			{{ e.population.species.taxonomies[0].family }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Order: </strong>
			{{ e.population.species.taxonomies[0].tax_order }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Class: </strong>
			{{ e.population.species.taxonomies[0].tax_class }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Phylum: </strong>
			{{ e.population.species.taxonomies[0].phylum }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Kingdom: </strong>
			{{ e.population.species.taxonomies[0].kingdom }}</span>
	</div>
</div>
	<div class="row verbose-topic">
		<div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
	      	<h4 class="panel-title">
				Publication Information
			</h4>
		</div>
		<div class="panel-body">
		<span class="col-xs-4 verbose-entry"><strong>Source Type: </strong>
			{{ e.population.publication.source_type.source_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Authors: </strong>
			{{ e.population.publication.authors }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Editors: </strong>
			{{ e.population.publication.editors }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Journal/Publication Title: </strong>
			{{ e.population.publication.pub_title }}</span>			
		<span class="col-xs-4 verbose-entry"><strong>Journal/Book Conf: </strong>
			{{ e.population.publication.journal_book_conf }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Year Published: </strong>
			{{ e.population.publication.year }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Volume: </strong>
			{{ e.population.publication.volume }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Pages: </strong>
			{{ e.population.publication.pages }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Publisher: </strong>
			{{ e.population.publication.publisher }}</span>
		<span class="col-xs-4 verbose-entry"><strong>City: </strong>
			{{ e.population.publication.city }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Country: </strong>
			{{ e.population.publication.country }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Institution: </strong>
			{{ e.population.publication.insitution }}</span>
		<span class="col-xs-4 verbose-entry"><strong>DOI/ISBN: </strong>
			{{ e.population.publication.DOI_ISBN }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Name: </strong>
			{{ e.population.publication.name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Corresponding Author: </strong>
			{{ e.population.publication.corresponding_author }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Email: </strong>
			{{ e.population.publication.email }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Purposes: </strong>
			{{ e.population.publication.purpose.purpose_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Date Digitised: </strong>
			{{ e.population.publication.date_digitised }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Embargo: </strong>
			{{ e.population.publication.embargo }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Missing Data: </strong>
			{{ e.population.publication.missing_data.missing_code }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Additional Source: </strong>
			{{ e.population.publication.additional_source_string }}</span>
		</div>
	</div>
</div>

	<div class="row verbose-topic">
		<div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
	      	<h4 class="panel-title">
				Plant Trait Information
			</h4>
		</div>
		<div class="panel-body">	
		<span class="col-xs-4 verbose-entry"><strong>Max Height: </strong>
			{{ e.population.species.plant_traits[0].max_height }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Growth Type: </strong>
			{{ e.population.species.plant_traits[0].growth_type.type_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Growth Form Raunkiaer: </strong>
			{{ e.population.species.plant_traits[0].growth_form_raunkiaer.form_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Reproductive Repetiton: </strong>
			{{ e.population.species.plant_traits[0].reproductive_repetition.repetition_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Dicot Monoc: </strong>
			{{ e.population.species.plant_traits[0].dicot_monoc.dicot_monoc_name }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Angio Gymno: </strong>
			{{ e.population.species.plant_traits[0].angio_gymno_id.angio_gymno_name }}</span>
		</div>
	</div>
</div>
	<div class="row verbose-topic">
		<div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
	      	<h4 class="panel-title">
				Population Information
			</h4>
		</div>
		<div class="panel-body">
			<span class="col-xs-4 verbose-entry"><strong>Population Name: </strong>
				{{ e.population.name }}</span>	
			<span class="col-xs-4 verbose-entry"><strong>Ecoregion: </strong>
				{{ e.population.ecoregion.ecoregion_code }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Country: </strong>
				{{ e.population.country }}</span>
			<span class="col-xs-4 verbose-entry"><strong>Continent: </strong>
				{{ e.population.continent.continent_name }}</span>		
			<span class="col-xs-4 verbose-entry"><strong>Geometries: </strong>
				{{ e.population.geometries }}</span>
		</div>
	</div>
</div>
	<div class="row verbose-topic">
		<div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
	      	<h4 class="panel-title">
				Study Information
			</h4>
		</div>
		<div class="panel-body">
		<span class="col-xs-4 verbose-entry"><strong>Study Duration: </strong>
			{{ e.study.study_duration }}</span>	
		<span class="col-xs-4 verbose-entry"><strong>Study Start: </strong>
			{{ e.study.study_start }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Study End: </strong>
			{{ e.study.study_end }}</span>
		<span class="col-xs-4 verbose-entry"><strong>Number of Populations Studied: </strong>
			{{ e.study.populations|length }}</span>		
	</div>
    </div>
	</div>
  </div>
</div>
</div>
</div>
</div>
	
{% endfor %}

