{% extends "bootstrap/base.html" %} 
{% block title %}
Demography Database
{% endblock %} 

{% block head %} {{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaflet.css') }}" />

{% endblock %} 

{% block navbar %}

<div class = "top-banner">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-xs-3"><img src="http://www.compadre-db.org/images/compadre-logo.png" class="img-responsive"></div>
            <div class="col-xs-6"></div>
            <div class="col-xs-3"><img src="http://www.compadre-db.org/images/comadre-logo.png" class="img-responsive"></div>
        </div>
    </div>
    </div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="100" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav top-bar">
                <li><a href="{{ url_for('main.index') }}">Home</a></li> {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li> {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="../../explorer/life/asweknowit">Taxonomic Explorer</a></li>
                        <li><a href="{{ url_for('main.species_table') }}">Search by Species</a></li>
                        <li><a href="{{ url_for('main.publications_table') }}">Search by Publication</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li ><a href="{{ url_for('main.news') }}">News</a></li>
                        <li ><a href="{{ url_for('main.team') }}">Team</a></li>
                        <li ><a href="{{ url_for('main.FAQs') }}">FAQs</a></li>
                        <li ><a href="{{ url_for('main.history') }}">History</a></li>
                        <li ><a href="{{ url_for('main.funding') }}">Funding bodies</a></li>
                        <li ><a href="{{ url_for('main.publications') }}">Publications</a></li>
                        <li ><a href="{{ url_for('main.education') }}">Education</a>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contribute<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li ><a href="{{ url_for('main.contribute_data') }}">Contribute your data</a></li>
                        <li class = "disabled"><a href="#">Become a Compadrino</a></li>
                        <li class = "disabled"><a href="#">Help develop this site</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Education<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li ><a href="{{ url_for('main.education_ppm') }}">What is a matrix model?</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('main.meta_tables_json') }}">Meta Tables</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"> {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{{ current_user.gravatar(size=18) }}"> Account <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li> {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li> {% endif %} </ul>
        </div>
    </div>
</nav>

{% endblock %} 

{% block content %}
<div class="container"> {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }} </div> {% endfor %}  
    {% block page_content %}
    {% endblock %} 
    <hr>
    <div class="row">
        
        <div class= "col-xs-2" ><img class="img-responsive" src="../../../../static/org_logos/exeter.svg"></div>
        <div class= "col-xs-2" ><img class="img-responsive" src="../../../../static/org_logos/sheffield.svg"></div>
        <div class= "col-xs-2" ><img class="img-responsive" src="../../../../static/org_logos/usd.png"></div>
        <div class= "col-xs-2" ><img class="img-responsive" src="../../../../static/org_logos/mpidr.png"></div>
        <div class= "col-xs-2" ><img class="img-responsive" src="../../../../static/org_logos/southampton.png"></div>
        <div class= "col-xs-2" ><img class="img-responsive" src="../../../../static/org_logos/trinity.png"></div>
        
    </div>
    <div class="row">
    </div>
    <br>
    <div style="text-align: center">
        <a href="{{ url_for('main.news') }}">News</a> |
        <a href="{{ url_for('main.team') }}">Team</a> |
        <a href="{{ url_for('main.FAQs') }}">FAQs</a> |
        <a href="{{ url_for('main.history') }}">History</a> |
        <a href="{{ url_for('main.funding') }}">Funding bodies</a> |
        <a href="{{ url_for('main.publications') }}">Publications</a> |
    </div>
</div> 

<footer>

{% endblock %}

{% block scripts %} 
{{ super() }} 
{{ moment.include_moment() }}  
{% endblock %}
