{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <h1>Become a Compadrino</h1>
    <br>
    <div class = "info_box">
    <h4>Do you want to digitize data? Do you love matrix models? Do you want to become one of our fantastic compadrinos? Then please fill in the contact form below:</h4>
    <br><br>

    <form action="/become-a-compadrino" method="post">
          {{ form.hidden_tag() }}
        <p>
          {{ form.name.label }}
          {{ form.name }}
        </p>
        <p>
          {{ form.email.label }}
          {{ form.email }}
        </p>
        <br>
        <p>
          {{ form.message.label }}
          {{ form.message }}
        </p>
        <p>
          {{ form.submit }}
        </p>
      </form>
</body>
</div>
</html>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}