{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<html>
<title>Upload New File</title>
<h1>Upload New File</h1>
<form method="post" enctype="multipart/form-data">
  <p><input type="file" name="file">
     <input type="submit", value="Upload">
  </p>
</form>
</html>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
<!DOCTYPE html>