{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Demography Database{% endblock %} {% block page_content %}

<div class="page-header">
    <h1>Edit History</h1>
    <h3><a href="" onclick="goBack()"> <span class="glyphicon glyphicon-circle-arrow-left"></span> Go back to previous page - changes will NOT be saved</a></h3>
{% if publication %}
    <h3><strong>Publication:</strong> {{publication.authors}} <small><a href="../../../../species=all/publications={{publication.id}}">Go back to publication overview</a></small></h3>
    {% endif %}
    {% if species %}
    <h3><strong>Species:</strong> <i>{{species.species_accepted}}</i> <small><a href="../../../../species={{species.id}}/publications=all">Go back to species overview</a></small></h3>
    {% endif %}
     
</div>
 

<table class="table">
    <thead>
      <tr>
          <th></th>
          <th>Time</th>
          <th>User</th>
          <th>Field</th>
          <th>Content before</th>
          <th></th>
          <th>Content after</th>
        </tr>
    </thead>
    <tbody>
        {% for change in logged_changes |reverse %}
        <tr>
            <td>{{ change.new_edit_delete }}</td>
            <td>{{ change.time_of_edit }}</td>
            <td>{{ change.user.username }}</td>
            <td>{{ change.object_type }}-{{ change.object_id }}-{{ change.field_name }}</td>
            <td>{{ change.content_before }}</td>
            <td>→</td>
            <td>{{ change.content_after }}</td>
        
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
 
    function goBack() {
        window.history.go(-1);
    }
</script>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}


{% endblock %}