{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Demography Database{% endblock %} {% block page_content %}

<div class="page-header">
    <h1>Edit History</h1>
    {% if population %}
    <a type="button" class="btn btn-default" href="../../../publication/{{population.publication_id}}">Go back to publication overview</a>
    {% endif %}
    {% if publication %}
    <h3><strong>Publication:</strong> {{publication.authors}} <small><a href="../../../publication/{{publication.id}}">Go back to publication overview</a></small></h3>
    {% endif %}
    {% if species %}
    <h3><strong>Species:</strong> <i>{{species.species_accepted}}</i> <small><a href="../../../species/{{species.id}}/overview">Go back to species overview</a></small></h3>
    {% endif %}
    
</div>


<table class="table">
    <thead>
      <tr>
          <th></th>
          <th>Time</th>
          <th>User</th>
          <th>Field</th>
          <th>Content before</th>
          <th>Content after</th>
        </tr>
    </thead>
    <tbody>
        {% for change in logged_changes %}
        <tr>
            <td>{{ change.new_edit_delete }}</td>
            <td>{{ change.time_of_edit }}</td>
            <td>{{ change.user.name }}</td>
            <td>{{ change.field_name }}</td>
            <td>{{ change.content_before }}</td>
            <td>{{ change.content_after }}</td>
        
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}


{% endblock %}