{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Demography Database{% endblock %} {% block page_content %}

<p>Edit history will go here!</p>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}

<script>
    // Change matrix strings into tables
    var divs = document.getElementsByClassName("matA");
    for (var ii = 0; ii < divs.length; ii++) {
        var matrix_string = divs[ii].innerHTML;
        var matrix_string = matrix_string.replace(" [", "");
        var matrix_string = matrix_string.replace("] ", "");
        var matrix_string_array = matrix_string.split(" ");
        matSize = Math.sqrt(matrix_string_array.length);
        var table_new = document.createElement('TABLE');
        table_new.className = 'table table-bordered';
        var tableBody = document.createElement('TBODY');
        table_new.appendChild(tableBody);
        var index = 0;
        for (var i = 0; i < matSize; i++) {
            var tr = document.createElement('TR');
            tableBody.appendChild(tr);
            for (var j = 0; j < matSize; j++) {
                var td = document.createElement('TD');
                td.appendChild(document.createTextNode(matrix_string_array[index]));
                tr.appendChild(td);
                index = index + 1;
            }
        }
        divs[ii].innerHTML = "";
        divs[ii].appendChild(table_new);
    }
</script>

<script>
    // Change class strings into tables
    var divs = document.getElementsByClassName("matClasses");
    for (var ii = 0; ii < divs.length; ii++) {
        var matrix_string = divs[ii].innerHTML;
        var matrix_string_array = matrix_string.split("|");
        numberOfClasses= matrix_string_array.length;
        var table_new = document.createElement('TABLE');
        table_new.className = 'table table-bordered';
        var tableBody = document.createElement('TBODY');
        table_new.appendChild(tableBody);
        var index = 0;
        var tr = document.createElement('TR');
        tableBody.appendChild(tr);
            for (var j = 0; j < numberOfClasses; j++) {
                var td = document.createElement('TD');
                td.appendChild(document.createTextNode(matrix_string_array[index]));
                tr.appendChild(td);
                index = index + 1;
            }
        divs[ii].innerHTML = "";
        divs[ii].appendChild(table_new);
    }
</script>

{% endblock %}