{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Demography Database{% endblock %} {% block page_content %}

<div id="id01"></div>

<div class="page-header">
<div class="breadcrumb">
<p>
    You are at: <a href="../../explorer/life/asweknowit">Life</a>
    {% if tax_pos > 0 %}
    > <a href="../../explorer/kingdom/{{ taxon_list[0].kingdom }}">{{ taxon_list[0].kingdom }}</a>
    {% endif %}
    {% if tax_pos > 1 %}
    > <a href="../../explorer/phylum/{{ taxon_list[0].phylum }}">{{ taxon_list[0].phylum }}</a>
    {% endif %}
    {% if tax_pos > 2 %}
    > <a href="../../explorer/class/{{ taxon_list[0].tax_class }}">{{ taxon_list[0].tax_class }}</a>
    {% endif %}
    {% if tax_pos > 3 %}
    > <a href="../../explorer/order/{{ taxon_list[0].tax_order }}">{{ taxon_list[0].tax_order }}</a>
    {% endif %}
    {% if tax_pos > 4 %}
    > <a href="../../explorer/family/{{ taxon_list[0].family }}">{{ taxon_list[0].family }}</a>
    {% endif %}
</p></div>{% if taxon == "butnotasweknowit" %}<h2 style="text-align:center;"><small>Hello earthlings 👽</small></h2>{% endif %}
    
    {% if taxon_level != "life" %}
    <h1 class="taxon_name">{{taxon}}</h1>
    <div id="{{ taxon }}info"></div>
    {% endif %}
    
    
</div>
<h3>Choose a {{next_taxon_level}}:</h3>
{% for taxons in taxon_list %}
    
    {% if taxon_level == "life" %}
        <div class="remove_duplicates info_box" >
            <a class="taxon_name" href="../../explorer/{{next_taxon_level}}/{{ taxons.kingdom }}"><h3>{{ taxons.kingdom }}</h3></a>
            <div id="{{ taxons.kingdom }}info"></div>
            
        </div>
    {% elif taxon_level == "kingdom" %}
        <div class="remove_duplicates info_box" >
            <a class="taxon_name" href="../../explorer/{{next_taxon_level}}/{{ taxons.phylum }}"><h3>{{ taxons.phylum }}</h3></a>
            <div id="{{ taxons.phylum }}info"></div>
            
        </div>
    {% elif taxon_level == "phylum" %}
        <div class="remove_duplicates info_box" >
            <a class="taxon_name" href="../../explorer/{{next_taxon_level}}/{{ taxons.tax_class }}"><h3>{{ taxons.tax_class }}</h3></a>
            <div id="{{ taxons.tax_class }}info"></div>
        </div>
    {% elif taxon_level == "class" %}
        <div class="remove_duplicates info_box" >
            <a class="taxon_name" href="../../explorer/{{next_taxon_level}}/{{ taxons.tax_order }}"><h3>{{ taxons.tax_order }}</h3></a>
            <div id="{{ taxons.tax_order }}info"></div>
        </div>
    {% elif taxon_level == "order" %}
        <div class="remove_duplicates info_box" >
            <a class="taxon_name" href="../../explorer/{{next_taxon_level}}/{{ taxons.family }}"><h3>{{ taxons.family }}</h3></a>
            <div id="{{ taxons.family }}info"></div>
        </div>
    {% elif taxon_level == "family" %}
        <div class="remove_duplicates info_box" >
            <a class="taxon_name" href="../../species/{{ taxons.species_id }}/overview"><h3><i>{{ taxons.species.species_accepted }}</i></h3></a>
            <div id="{{ taxons.species.species_accepted }}info"></div>
        </div>
    {% endif %}
{% endfor %} 

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script>
    var temp = $("*").html();
    var temp = temp.replace(/\s/g, '');

    var seen = {};
    $('.remove_duplicates').each(function () {
        var txt = $(this).text();
        if (seen[txt]) {
            $(this).remove();
        } else {
            seen[txt] = true;
            {% if taxon_level != "family" %}
                var txt = $(this).text();
                var txt = txt.replace(/\s/g, '');
                var txt = new RegExp(txt, "gi");
                count = (temp.match(txt).length)/3;
                $(this).append("<h4>" + count + " species in the Demography Database</h4>");
            {% endif %}
        }
    });
    
    var x = document.getElementsByClassName("remove_duplicates");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.visibility = "visible";
    }
            
    function getData(url, successCallback) {
        
        $.getJSON(url, function(data) {
            // Process the data in some way - e.g. extract the section of the response that you want
            for (const page_id in data["query"]["pages"]) {
                var wiki_txt = JSON.stringify(data["query"]["pages"][page_id]["extract"]);
            }
            successCallback(wiki_txt);
        });
    }
       
    
    $('.taxon_name').each(function () {
        var txt = $(this).text();
        
        getData("https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&origin=*&titles="+txt+"&redirects=true", function(data) {
            var wiki_text = data;
            if (data != null){
                var wiki_text = data.replace(/<b>/g, '');
                var wiki_text = data.replace(/\\"/g, '"');
                var wiki_text = wiki_text.substring(4,wiki_text.indexOf("\\n"));
                document.getElementById(txt+"info").innerHTML = wiki_text + "<small>Extract from Wikipedia. <a target='_blank' href='https://en.wikipedia.org/wiki/"+txt+"'> Read more...</a></small>";
            } else {
                document.getElementById(txt+"info").innerHTML = "No description available";
            }
            
        });
    });
            
</script>

{% endblock %}