{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<div class="page-header">
    <meta charset="UTF-8">
    <h1>Would you like to help with website development?</h1>
</div>
<div class = "info_box">
    <h4>Are you a computer programmer fanatic? Do you love coding? Do you want to help us develop some fun tools to explore the world of matrix models? Then please fill in the contact form below:</h4>
<body>
    <h3>Contact Form:</h3>
<table>
    <form action="/help-develop-site" method="post">
                    {{ form.hidden_tag() }}
        <tr>
          <td align="right"><p>
          {{ form.name.label }}
          {{ form.name }}
        </p>
      </td></tr>
        <tr>
          <td align="right"><p>
          {{ form.email.label }}
          {{ form.email }}
        </p>
        </td></tr>
        <tr>
          <td align="right"><p>
          {{ form.subject.label }}
          {{ form.subject }}
        </p>
        </td></tr>
        <tr>
          <td align="right"><p>
          {{ form.message.label }}
          {{ form.message }}
        </p>
        </td></tr>
        <tr>
          <td align="left"><p>
          {{ form.submit }}
        </p>
        </td></tr>
      </form>
    </table>
</body>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}