{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<div class="page-header">
    <br>
    <br>
    <h1 style="text-align:center;">Demography Database</h1>
    <h2 style="text-align:center;">Incorporating COMPADRE & COMADRE</h2>
    <br>
</div>
<p>test links</p>
<p><a href="../data-manage/species/new/0">Make a new species</a></p>
<p><a href="../data-manage/publication/new/0">Make a new publication</a></p>

<p>Matrix overview pages are now at /species=.../publication=...</p>

<p>where ... can be a number (eg. 3), a list of numbers eg. (2+4+5+7) or all</p>
<p> eg.</p>
<p><a href = "/species=4/publications=all">/species=4/publications=all</a></p>
<p><a href = "/species=all/publications=6">/species=all/publications=6</a></p>

<div class="info_box">
    <h3>Introduction</h3>
    <p>COMPADRE and COMADRE contain matrix population models of hundreds of plant and animal species. 
        <br><br>
        Matrix population models:
         <li>summarize the life cycle components of survival, growth and reproduction</li> 
         <li>acknowledge size or age variation of individuals within a population</li>
        <li>can be used to compare traits across species and populations</li> 
        <li>can be used to calculate a multitude of demographic traits: including, population growth rates, mean life expectancies and reproductive rates of each stage class </li>
    </p>
    <div class="row">
        <div class="col-sm-4">
            <h3>Explore</h3>
            <ul>
                <li><a href="{{ url_for('main.comingsoon') }}">Search by Species</a></li>
                <li><a href="{{ url_for('main.comingsoon') }}">Search by Publication</a></li>
                <li><a href="{{ url_for('about.history') }}">Taxonomic Explorer</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>About</h3>
            <ul>
                <li><a href="{{ url_for('about.history') }}">What is COMPADRE & COMADRE</a></li>
                <li><a href="{{ url_for('about.team') }}">Core comittee</a></li>
                <li><a href="http://www.compadre-db.org"target="_blank">compadre-db.org</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Collaborate</h3>
            <ul>
                <li><a href="{{ url_for('main.contribute_data') }}">Contribute your data</a></li>
                <li><a href="{{ url_for('main.become_a_compadrino') }}">Become a Compadrino</a></li>
                <li><a href="{{ url_for('main.help_develop_site') }}">Help develop this site</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="info_box">
    <h3>Quicklinks</h3>
    <p><a href="http://onlinelibrary.wiley.com/doi/10.1111/1365-2745.12334/abstract;jsessionid=E81509E7DBF840A800EC5701CA22E17B.f04t03" target="_blank">The COMPADRE Plant Matrix Database: an open online repository for plant demography</a></p>
    <p><a href="http://onlinelibrary.wiley.com/doi/10.1111/1365-2656.12482/full" target="_blank">COMADRE: a global database of animal demography</a></p>
    <p></p>
</div>

<div class="info_box">
    <h3>Meet the teams</h3>
    <p><a href="http://lifecycle.ex.ac.uk/spandex/" target="_blank">Meet the Spand_Ex team at Exeter</a></p>
    <p><a href="https://sites.google.com/site/robresearchsite/" target="_blank">Meet the SalGo team at Sheffield</a></p>
    <p><a href="https://www.demogr.mpg.de/en/laboratories/evolutionary_biodemography_1171/projects/compadre_plant_matrix_database_comadre_animal_matrix_database_1867.htm" target="_blank">Meet the MPIDR team at Rostock</a></p>
</div>

<div class="info_box">
<h3>Explore the Demography Database</h3>
    
        
            <div class="row">
                {% for species in species2 %}
                <div class="col-xs-3"><a href="/species={{species.id}}/publications=all"><div class="species-image-container" style="background-image:url('{{ species.image_path }}');"></div>
                    <p>{{species.species_accepted}}</p></a>
                
                
                
                </div>
                {% endfor %}
            </div>
            
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
