{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<div class="page-header">
    <br>
    <br>
    <h1 style="text-align:center;">Demography Database</h1>
    <h2 style="text-align:center;">Incorporating COMPADRE & COMADRE</h2>
    <br>
</div>

<a href="../data-manage/species/new/0">TEST</a>

<div class="info_box">
    <h3>Introduction</h3>
    <p>COMPADRE and COMADRE contain matrix population models of hundreds of plant and animal species...</p>
    <div class="row">
        <div class="col-sm-4">
            <h3>Explore</h3>
            <ul>
                <li>Search by Species</li>
                <li>Search by Publication</li>
                <li>Taxonomic Explorer</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>About</h3>
            <ul>
                <li>What is COMPADRE & COMPADRE</li>
                <li>Core comittee</li>
                <li>compadre-db.org</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Collaborate</h3>
            <ul>
                <li>Contribute your data</li>
                <li>Become a Compadrino</li>
                <li>Help develop this site</li>
            </ul>
        </div>
    </div>
</div>

<div class="info_box">
    <h3>Quicklinks</h3>
    <p></p>
</div>
<!--
<div class="info_box">
<h3>Explore the Demography Database</h3>
    
        
            <div class="row">
                {% for species in species2 %}
                <div class="col-xs-3"><a href="/species/{{species.id}}/overview"><div class="species-image-container" style="background-image:url('{{ species.image_path }}');"></div>
                    <p>{{species.species_accepted}}</p></a>
                
                
                
                </div>
                {% endfor %}
            </div>
            
</div>
-->

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
