{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Demography Database</h1>
	<h2>University of Exeter</h2>
    <h3>Welcome {% if current_user.is_authenticated %}back, {{ current_user.username }}{% else %}to the database{% endif %}</h3>
    <p>Welcome to the COMPADRE Plant Matrix Database and COMADRE Animal Matrix Database site! COMPADRE and COMADRE contain matrix population models of hundreds of plant and animal species.</p>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
