{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<h1>Search by publications</h1>
<hr>
<div id="species-search">
    <div class="form-group">

        <input type="text" class="search form-control" placeholder="Search everything" id="big_search">
    </div>
    <hr>
    <table class="table table2" style="table-layout: fixed; width: 100%">
        <thead>
            <th style="width: 30%;">Author(s) <button type="button" class="sort btn btn-xs" data-sort="authors"> Sort </button></th>
            <th style="width: 35%;">Publication name <button type="button" class="sort btn btn-xs" data-sort="name"> Sort </button></th>
            <th style="width: 10%;">Journal <button type="button" class="sort btn btn-xs" data-sort="journal"> Sort </button></th>
            <th style="width: 10%;">Year <button type="button" class="sort btn btn-xs" data-sort="year"> Sort </button></th>
            <th style="width: 15%;">Source</th>
        </thead>
        <tbody class="list">
            {% for publication in publications %}
            {% if can_edit == True or publication.version[0].status_id == 3 %}
                <tr>
                    <td class="authors" >{{ publication.authors }}</td>
                    <td class="name"><a href="../species=all/publications={{ publication.id }}">{{ publication.pub_title }}</a></td>
                    <td class="journal">{{ publication.journal_name }}</td>
                    <td class="year">{{ publication.year }}</td>
                    <td class="doi">
                        {% if publication.DOI_ISBN %}<a class="btn btn-default" target="_blank" href="https://doi.org/{{ publication.DOI_ISBN }}">Go to source <span class="glyphicon glyphicon-new-window"></span></a>
                    {% endif %}</td>

                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination"></ul>
</div>


<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='list.js') }}"></script>
<script src="{{ url_for('static', filename='list.pagination.min.js') }}"></script>

<script>
$(function() {
	var options = {
		valueNames: ['authors', 'name', 'journal', 'year', 'doi'],
        page: 1000,
        plugins: [
            ListPagination({})
        ]
	};

    
	var userList = new List('species-search', options);
	var activeFilters = [];


    //filter
    $('.filter').change(function() {
        var isChecked = this.checked;
        var value = $(this).data("value");
      
		if(isChecked){
			//  add to list of active filters
			activeFilters.push(value);
		}
		else
		{
			// remove from active filters
			activeFilters.splice(activeFilters.indexOf(value), 1);
		}
		
		userList.filter(function (item) {
			if(activeFilters.length > 0)
			{
				return(activeFilters.indexOf(item.values().growthtype)) > -1;
			}
			return true;
		});
     });
    
    
    
});
       
</script>

<script>
function addTextTag(text){
    document.getElementById('big_search').value = text;
    }
</script>

<script>
function htmlreplace(a, b, element) {    
    if (!element) element = document.body;    
    var nodes = element.childNodes;
    for (var n=0; n<nodes.length; n++) {
        if (nodes[n].nodeType == Node.TEXT_NODE) {
            var r = new RegExp(a, 'gi');
            nodes[n].textContent = nodes[n].textContent.replace(r, b);
        } else {
            htmlreplace(a, b, nodes[n]);
        }
    }
}

htmlreplace('None', 'Unknown');
</script>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
