{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Demography Database{% endblock %} {% block page_content %}

<div class="info_box">
    {% if current_user.is_authenticated %}
    <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compadrino actions<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="../../publication/{{publication.id}}/edit">Edit publication</a></li>
            <li><a href="../../publication/{{publication.id}}/edit-history">View edits</a></li>
            <li><a href="../../delete/publication/{{publication.id}}">Delete publication</a></li>
            <li><a href="../../population/new/publication={{publication.id}}/choose_species">Add new population</a></li>
            <li><a href="{{ url_for('main.species_new_form') }}">Add new species</a></li>
        </ul>
    </div>
    {% endif %}
    <h3>{{ publication.authors }} ({{ publication.year }}). "{{ publication.name }}" in <i>{{ publication.pub_title }}</i> {{ publication.volume }}, {{ publication.pages }}.<small> ID: {{publication.id}}</small></h3>
    
    {% if publication.DOI_ISBN %}
    <a class="btn btn-default" href="https://doi.org/{{ publication.DOI_ISBN }}">Go to source</a>
    {% endif %}
    {% if publication.additional_source_string %}
    <h4><strong>Additional Source:</strong> ({{publication.additional_source_string}}) </h4>
    {% endif %}
    <p>Do you have demographic data for this publication? Contribute <a href="{{ url_for('main.contribute_data') }}">here</a></p>
</div>
{% if publication.populations %}
{% for population in publication.populations %}

<div class="info_box">
    {% if current_user.is_authenticated %}
    <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compadrino actions<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/population/{{population.id}}/edit">Edit population</a></li>
            <li><a href="../../population/{{population.id}}/edit-history">View edits</a></li>
            <li><a href="../../delete/population/{{population.id}}">Delete population</a></li>
            <li class="disabled"><a href="#">Add new matrix</a></li>
        </ul>
    </div>
    {% endif %}
        <h4><strong>Species:</strong> <a href="../species/{{ population.species.id }}/overview"><em>{{ population.species.species_accepted }}</em></a><small> ID: {{ population.species.id }}</small></h4>
        <h4><strong>Population Name: </strong>{{ population.name }} <small>ID: {{ population.id }}</small> </h4>
    <ul>
        {% if population.study %}
        <li>Studied for {{ population.study.study_duration }} year(s) from {{ population.study.study_start }} to {{ population.study.study_end }} <small>ID: {{ population.study.id }}</small></li>
        {% else %}
        <li><a>Add study duration</a></li>
        {% endif %}
        <li><strong>Location: </strong> <img src="../../static/flags/{{ population.country }}.GIF"> {{ population.country }}, {{ population.continent.continent_name }} </li>
        <li><strong>Ecoregion: </strong> {{ population.ecoregion.ecoregion_description }}
            <li><strong>Geometries: </strong> {{ population.geometries }}</li>
    </ul>
    <button type="button" class="btn btn-default" data-toggle="collapse" href="#population_{{ population.id }}"> Show/hide matrices </button>

        
    <div id="population_{{ population.id }}" class='panel-collapse collapse'> 
        <small>Click on the sections below to view matrix models</small>

        {% for matrix in population.matrices %}
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#matrix_{{matrix.id}}2">
                    <h4 id="{{matrix.id}}" class="panel-title">
                            <p><span class="label label-default">{{ matrix.matrix_composition.comp_name }}</span> <span class="label label-default">{{ matrix.matrix_dimension }} x {{ matrix.matrix_dimension }}</span> <span class="label label-default">Periodicity: {{ matrix.periodicity }}</span> <span class="label label-default">{{ matrix.matrix_start }}-{{ matrix.matrix_end }}</span> <span background-color="#" class="label label-default">{{ matrix.treatment.type_name }}</span> <span class="label label-default">Captive: {{ matrix.captivities.cap_code }}</span> <span class="label label-default">Studied sex: {{ matrix.studied_sex.sex_code }}</span><small> ID: {{matrix.id}}</small></p>
                        </h4> </div>
                <div id="matrix_{{matrix.id}}2" class="panel-collapse collapse">
                    <li class="list-group-item">
                        <ul class="nav nav-pills matrices">
                            <li class="active"><a data-toggle="pill" href="#home_{{matrix.id}}">Matrix</a></li>
                            <li><a data-toggle="pill" href="#menu_{{matrix.id}}_1">Survival Matrix </a></li>
                            <li><a data-toggle="pill" href="#menu_{{matrix.id}}_2">Fecundity Matrix</a></li>
                            <li><a data-toggle="pill" href="#menu_{{matrix.id}}_3">Clonal Matrix</a></li>
                            <li><a data-toggle="pill" href="#menu_{{matrix.id}}_4">Additional Infomation</a></li>
                            {% if current_user.is_authenticated %}
                            <div class="dropdown pull-right">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compadrino actions<span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="../../matrix/{{matrix.id}}/edit">Edit matrix</a></li>
                                    <li><a href="../../matrix/{{matrix.id}}/edit-history">View edits</a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </ul>

                        <div class="tab-content">
                            <div id="home_{{matrix.id}}" class="tab-pane in active">
                                <div class="table-responsive matA"> {{ matrix.matrix_a_string }} </div>
                            </div>
                            <div id="menu_{{matrix.id}}_1" class="tab-pane">
                                <div class="table-responsive"> INSERT_MAT_U </div>
                            </div>
                            <div id="menu_{{matrix.id}}_2" class="tab-pane">
                                <div class="table-responsive"> INSERT_MAT_F </div>
                            </div>
                            <div id="menu_{{matrix.id}}_3" class="tab-pane">
                                <div class="table-responsive"> INSERT_MAT_C </div>
                            </div>
                            <div id="menu_{{matrix.id}}_4" class="tab-pane">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>Matrix start season: {% if matrix.matrix_start_season_id > 0 %}{{ matrix.matrix_start_season.season_name }}{% else %} NA{% endif %}</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>Matrix end season: {% if matrix.matrix_end_season_id > 0 %}{{ matrix.matrix_end_season.season_name }}{% else %} NA{% endif %}</p>
                                    </div>
                                </div>
                                <p><strong>matrix_fec: </strong> {{ matrix.matrix_fec }}</p>
                            </div>
                            <p><strong>Observations: </strong> {{ matrix.observations }}</p>
                        </div>
                    </li>
                </div>
             </div>
        </div> 

        {% endfor %}
    </div>
</div>

{% endfor %}
    {% else %}
    <div class="info_box_empty">
        <p>There are no populations attatched to this publication</p>
        <p><a href="../../population/new/publication={{publication.id}}/choose_species">Add new population</a></p>
    </div>
    {% endif %}

<script>
    // Change matrix strings into tables
    var divs = document.getElementsByClassName("matA");
    
    for(var ii = 0; ii < divs.length; ii++){

        var matrix_string = divs[ii].innerHTML;
        var matrix_string = matrix_string.replace(" [", "");
        var matrix_string = matrix_string.replace("] ", "");

        var matrix_string_array = matrix_string.split(" ");
        matSize = Math.sqrt(matrix_string_array.length)

        var table_new = document.createElement('TABLE');
        table_new.className = 'table table-bordered';

        var tableBody = document.createElement('TBODY');
        table_new.appendChild(tableBody);

        var index = 0;
        for (var i = 0; i < matSize; i++) {
            var tr = document.createElement('TR');
            tableBody.appendChild(tr);

            for (var j = 0; j < matSize; j++) {
                var td = document.createElement('TD');
                td.appendChild(document.createTextNode(matrix_string_array[index]));
                tr.appendChild(td);
                index = index + 1;
            }
        }
        divs[ii].innerHTML = "";
        divs[ii].appendChild(table_new);
    }
</script>

<script>
function htmlreplace(a, b, element) {    
    if (!element) element = document.body;    
    var nodes = element.childNodes;
    for (var n=0; n<nodes.length; n++) {
        if (nodes[n].nodeType == Node.TEXT_NODE) {
            var r = new RegExp(a, 'gi');
            nodes[n].textContent = nodes[n].textContent.replace(r, b);
        } else {
            htmlreplace(a, b, nodes[n]);
        }
    }
}

htmlreplace('None', 'Unknown');
</script>

{% endblock %} 
{% block scripts %} 
{{ super() }} 
{{ pagedown.include_pagedown() }} 
{% endblock %}