{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}
<h1>Search COMPADRE by Species</h1>
<hr>
<div id="species-search">
    <div class="form-group">

        <input type="text" class="search form-control" placeholder="Search everything" id="big_search">
    </div>
    <div class="btn-group togglers" data-toggle="buttons">
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Algae"/> Algae</label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Annual"/> Annual </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Bryophyte"/> Bryophyte </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Epiphyte"/> Epiphyte </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Fern"/> Fern </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Herbaceous perennial"/> Herbaceous perennial </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Liana"/> Liana </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Palm"/> Palm </label>
            <label class="btn btn-default ">
            <input type="checkbox" class="filter" data-value="Shrub"/> Shrub </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Succulent"/> Succulent </label>
            <label class="btn btn-default">
            <input type="checkbox" class="filter" data-value="Tree"/> Tree </label>
        </div>
    <hr>
    <table class="table" >
        <thead>
            <th>Growth type
                <button type="button" class="sort btn btn-xs" data-sort="growth_type"> Sort </button>
            </th>
            <th>Kingdom <button type="button" class="sort btn btn-xs" data-sort="kingdom"> Sort </button></th>
            <th>Phylum <button type="button" class="sort btn btn-xs" data-sort="phylum"> Sort </button></th>
            <th>Class <button type="button" class="sort btn btn-xs" data-sort="class"> Sort </button></th>
            <th>Order <button type="button" class="sort btn btn-xs" data-sort="order"> Sort </button></th>
            <th>Family <button type="button" class="sort btn btn-xs" data-sort="family"> Sort </button></th>
            <th>Species <button type="button" class="sort btn btn-xs" data-sort="species"> Sort </button></th>
        </thead>
        <tbody class="list">
            {% for s in species %}
                {% for taxonomy in s.taxonomies %}
                    <tr>
                        {% for trait in s.plant_traits %}
                        <td class="growthtype">{{ trait.growth_type.type_name }}</td>
                        {% endfor %}
                        <td class="kingdom" onClick="addTextTag('{{ taxonomy.kingdom }}');">{{ taxonomy.kingdom }}</td>
                        <td class="phylum">{{ taxonomy.phylum }}</td>
                        <td class="class">{{ taxonomy.tax_class }}</td>
                        <td class="order">{{ taxonomy.tax_order }}</td>
                        <td class="family">{{ taxonomy.family }}</td>
                        <td class="species"><a href="../species/{{ s.id }}/overview"><em>{{ s.species_accepted }}</em></a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination"></ul>
</div>


<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='list.js') }}"></script>
<script src="{{ url_for('static', filename='list.pagination.min.js') }}"></script>

<script>
$(function() {
	var options = {
		valueNames: ['kingdom', 'phylum', 'class', 'order', 'family', 'species','growthtype'],
        page: 1000,
        plugins: [
            ListPagination({})
        ]
	};

    
	var userList = new List('species-search', options);
	var activeFilters = [];


    //filter
    $('.filter').change(function() {
        var isChecked = this.checked;
        var value = $(this).data("value");
      
		if(isChecked){
			//  add to list of active filters
			activeFilters.push(value);
		}
		else
		{
			// remove from active filters
			activeFilters.splice(activeFilters.indexOf(value), 1);
		}
		
		userList.filter(function (item) {
			if(activeFilters.length > 0)
			{
				return(activeFilters.indexOf(item.values().growthtype)) > -1;
			}
			return true;
		});
     });
    
    
    
});
       
</script>

<script>
function addTextTag(text){
    document.getElementById('big_search').value = text;
    }
</script>

<script>
function htmlreplace(a, b, element) {    
    if (!element) element = document.body;    
    var nodes = element.childNodes;
    for (var n=0; n<nodes.length; n++) {
        if (nodes[n].nodeType == Node.TEXT_NODE) {
            var r = new RegExp(a, 'gi');
            nodes[n].textContent = nodes[n].textContent.replace(r, b);
        } else {
            htmlreplace(a, b, nodes[n]);
        }
    }
}

htmlreplace('None', 'Unknown');
</script>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
