{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Demography Database{% endblock %} {% block page_content %}
<div class="masthead"> {% for taxonomy in species.taxonomies %}
    <div class="row">
        <div class="col-sm-9">
            <h1><i>{{species.species_accepted}}</i> ({{ taxonomy.authority }})</h1> <a href="http://eol.org/search?q={{species.species_accepted}}&amp;search=Go" class="btn btn-default" role="button">Search Enyclopedia of Life</a> <a href="http://www.catalogueoflife.org/col/search/all/key/{{species.species_accepted}}/" class="btn btn-default" role="button">Search Catalogue of Life</a> <a href="https://en.wikipedia.org/wiki/{{species.species_accepted}}" class="btn btn-default" role="button">Wikipedia</a> <a href="https://www.google.co.uk/search?q={{species.species_accepted}}" class="btn btn-default" role="button">Google</a> <a href="https://scholar.google.co.uk/scholar?q={{species.species_accepted}}" class="btn btn-default" role="button">Scholar</a>
            <h3>Plant Traits</h3> {% for trait in species.plant_traits %}
            <ul>
                <li><strong>Growth type: </strong> {{ trait.growth_type.type_name }}</li>
                <li><strong>Dicotyledon/monocotyledon: </strong> {{ trait.dicot_monoc.dicot_monoc_name }}</li>
                <li><strong>Angiosperm/gymnosperm: </strong> {{ trait.angio_gymno.angio_gymno_name }}</li>
            </ul> {% endfor %}</div>
        <div class="col-sm-3">
            <h3>Taxonomy</h3>
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td><strong>Kingdom:</strong></td>
                        <td>{{ taxonomy.kingdom }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phylum:</strong></td>
                        <td>{{ taxonomy.phylum }}</td>
                    </tr>
                    <tr>
                        <td><strong>Class:</strong></td>
                        <td>{{ taxonomy.tax_class }}</td>
                    </tr>
                    <tr>
                        <td><strong>Order:</strong></td>
                        <td>{{ taxonomy.tax_order }}</td>
                    </tr>
                    <tr>
                        <td><strong>Family:</strong></td>
                        <td>{{ taxonomy.family }}</td>
                    </tr>
                    <tr>
                        <td><strong>Genus:</strong></td>
                        <td>{{ taxonomy.genus }}</td>
                    </tr>
                    <tr>
                        <td><strong>Species:</strong></td>
                        <td><i>{{species.species_accepted}}</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> {% endfor %} </div>
<!-- /cont -->
        <h3>Populations</h3> {% for population in species.populations %}
                <h4>{{ population.name }} </h4>
                <ul>
                    <li><strong>ecoregion_id: </strong> {{ population.ecoregion.ecoregion_code }} (<em>{{ population.ecoregion.ecoregion_description }}</em>)</li>
                    <li><strong>country: </strong> {{ population.country }}</li>
                    <li><strong>geometries: </strong> {{ population.geometries }}</li>
                    <li><strong>continent: </strong> {{ population.continent.continent_name }}</li>
                    <li><strong>publication: </strong> {{ population.publication.authors }}</li>
                    <li><strong>study:</strong> {{ population.study.study_duration }} years</li>
                </ul>
                    
{% for matrix in population.matrices %}
                    <div class="panel-group-">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" href="#matrix_{{matrix.id}}2">
                                <h4 id="{{matrix.id}}" class="panel-title">
                                <p><span class="label label-default">{{ matrix.matrix_composition.comp_name }}</span> <span class="label label-default">{{ matrix.matrix_dimension }} x {{ matrix.matrix_dimension }}</span> <span class="label label-default">{{ matrix.matrix_start }}-{{ matrix.matrix_end }}</span> </p>
                                <p><b>Population:</b> {{ population.name }} <b>Treatment:</b> {{ matrix.treatment.type_name }} </p>
                            </h4> </div>
                            <div id="matrix_{{matrix.id}}2" class="panel-collapse collapse">
                                <li class="list-group-item">
                                    <ul class="nav nav-pills matrices">
                                        <li class="active"><a data-toggle="pill" href="#home_{{matrix.id}}">Matrix</a></li>
                                        <li><a data-toggle="pill" href="#menu_{{matrix.id}}_1">Survival Matrix </a></li>
                                        <li><a data-toggle="pill" href="#menu_{{matrix.id}}_2">Fecundity Matrix</a></li>
                                        <li><a data-toggle="pill" href="#menu_{{matrix.id}}_3">Clonal Matrix</a></li>
                                        <li><a data-toggle="pill" href="#menu_{{matrix.id}}_4">Additional Infomation</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="home_{{matrix.id}}" class="tab-pane in active">
                                            <div class="table-responsive"> {{ matrix.matrix_a_string }} </div>
                                        </div>
                                        <div id="menu_{{matrix.id}}_1" class="tab-pane">
                                            <div class="table-responsive"> INSERT_MAT_U </div>
                                        </div>
                                        <div id="menu_{{matrix.id}}_2" class="tab-pane">
                                            <div class="table-responsive"> INSERT_MAT_F </div>
                                        </div>
                                        <div id="menu_{{matrix.id}}_3" class="tab-pane">
                                            <div class="table-responsive"> INSERT_MAT_C </div>
                                        </div>
                                        <div id="menu_{{matrix.id}}_4" class="tab-pane">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p>Matrix start season: {% if matrix.matrix_start_season_id > 0 %}{{ matrix.matrix_start_season.season_name }}{% else %} NA{% endif %}</p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p>Matrix end season: {% if matrix.matrix_end_season_id > 0 %}{{ matrix.matrix_end_season.season_name }}{% else %} NA{% endif %}</p>
                                                </div>
                                                
                                            </div>
                                            <p><strong>matrix_fec: </strong> {{ matrix.matrix_fec }}</p>
                                            <p><strong>studied_sex: </strong> {{ matrix.studied_sex.sex_code }}</p>
                                            <p><strong>captivities: </strong> {{ matrix.captivities.cap_code }}</p>
                                            <p><strong>observations: </strong> {{ matrix.observations }}</p>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div> 
                {% endfor %}

{% endblock %} {% block scripts %} {{ super() }} {{ pagedown.include_pagedown() }} {% endblock %}

