{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Demography Database - Data Input{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Data Input Form</h1>
    {% if population %}
    <a type="button" class="btn btn-default" href="../../../publication/{{population.publication_id}}">Go back to publication overview</a>
    {% endif %}
    {% if publication %}
    <h3><strong>Publication:</strong> {{publication.authors}} <small><a href="../../../publication/{{publication.id}}">Go back to publication overview</a></small></h3>
    {% endif %}
    {% if species %}
    <h3><strong>Species:</strong> <i>{{species.species_accepted}}</i> <small><a href="../../../species/{{species.id}}/overview">Go back to species overview</a></small></h3>
    {% else %}
    <h3>Species: new</h3>
    {% endif %}
    
</div>
<div class="info_box">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
