{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block title %}Demography Database{% endblock %} {% block page_content %}
<div class="page-header">
    <!-- BREADCRUMB -->
    <div class="breadcrumb"> {% if taxonomy %}
        <p>You are at: <a href="../../explorer/life/asweknowit">Life</a> > <a href="../../explorer/kingdom/{{ taxonomy.kingdom }}">{{ taxonomy.kingdom }}</a> > <a href="../../explorer/phylum/{{ taxonomy.phylum }}">{{ taxonomy.phylum }}</a> > <a href="../../explorer/class/{{ taxonomy.tax_class }}">{{ taxonomy.tax_class }}</a> > <a href="../../explorer/order/{{ taxonomy.tax_order }}">{{ taxonomy.tax_order }}</a> > <a href="../../explorer/family/{{ taxonomy.family }}">{{ taxonomy.family }}</a> > <i>{{species.species_accepted}}</i></p> {% else %}
        <p>No taxonomy</p> {% endif %} </div> 
    
    <!-- compadrino actions for top part of page -->
    {% if current_user.is_authenticated %} 
    <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compadrino actions<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Species information</li>
            <li><a href="/species/{{species.id}}/edit">Edit</a></li>
            <li><a href="/species/{{species.id}}/edit-history">View edits</a></li>
            <li><a href="/delete/taxonomy/{{species.id}}">Delete Species</a></li>
            <li class="dropdown-header">Taxonomy</li> {% if species.taxonomies %} {% for taxonomy in species.taxonomies %}
            <li><a href="/taxonomy/{{taxonomy.id}}/edit">Edit</a></li>
            <li><a href="/taxonomy/{{taxonomy.id}}/edit-history">View edits</a></li>
            <li><a href="/delete/taxonomy/{{taxonomy.id}}">Delete taxonomy</a></li> {% endfor %} {% else %}
            <li><a href="/taxonomy/new/species={{species.id}}">Add taxonomy</a></li> {% endif %}
            <li class="dropdown-header">Species Traits</li> {% if species.traits %} {% for trait in species.traits %}
            <li><a href="/traits/{{trait.id}}/edit">Edit</a></li>
            <li><a href="/traits/{{trait.id}}/edit-history">View edits</a></li>
            <li><a href="/delete/traits/{{trait.id}}">Delete species traits</a></li> {% endfor %} {% else %}
            <li><a href="/traits/new/species={{species.id}}">Add traits</a></li> {% endif %} </ul>
    </div> {% endif %}
    
    
    <!-- page header -->
    <h1><i>{{species.species_accepted}}</i> <small> {{species.id}}</small> <img src="../../static/statuses/{{species.version.statuses.id}}.png"> {{species.version}} </h1> 
    {% if species.species_common %}
    <p><b>Common name(s):</b> 
        {{species.species_common}}</p>
    {% endif %}

<p> iucn_status_id: {{ iucn_status_id }}</p>
<p>esa_status_id: {{ esa_status_id }}</p>
<p>invasive_status: {{ invasive_status }}</p>
<p>gbif_taxon_key: {{ gbif_taxon_key }}</p>
<p>species_iucn_taxonid: {{ species_iucn_taxonid }}</p>

</div>

<!-- Top page section (species, taxonomy, traits models)-->
<div class="row">
    
    <div class="col-sm-8"> <!-- Left side infobox with pictures and map -->
        <div class="info_box">
            <div class="row">
                <div class="col-xs-6"> {% if species.image_path %}
                    <div class="species-image-container" style="background-image:url('{{ species.image_path }}');"></div> {% else %}
                    <div class="species-image-container">Image 1</div> {% endif %} </div>
                <div class="col-xs-6"> {% if species.image_path2 %}
                    <div class="species-image-container" style="background-image:url('{{ species.image_path2 }}');"></div> {% else %}
                    <div class="species-image-container">Image 2</div> {% endif %} </div>
            </div>
            <br>
            <div id="dist_map"></div> {% if species.gbif_taxon_key %}
            <p><a href="http://www.gbif.org/species/{{ species.gbif_taxon_key}}" target="_blank"> Species occurence data from GBIF. </a> For use as a guide only.</p> {% else %}
            <p>No occurence data available from GBIF.</p> {% endif %} 
        </div>
    </div>
    
    <!-- Right side information with taxonom and traits -->
    <div class="col-sm-4"> {% if taxonomy %}
        <h3>Taxonomy <small> {{taxonomy.id}}</small>  {{taxonomy.version}} </h3>
        <table style="width:100%" class="table">
            <tbody>
                <tr>
                    <td><strong>Kingdom:</strong></td>
                    <td>{{ taxonomy.kingdom }}</td>
                </tr>
                <tr>
                    <td><strong>Phylum:</strong></td>
                    <td>{{ taxonomy.phylum }}</td>
                </tr>
                <tr>
                    <td><strong>Class:</strong></td>
                    <td>{{ taxonomy.tax_class }}</td>
                </tr>
                <tr>
                    <td><strong>Order:</strong></td>
                    <td>{{ taxonomy.tax_order }}</td>
                </tr>
                <tr>
                    <td><strong>Family:</strong></td>
                    <td>{{ taxonomy.family }}</td>
                </tr>
                <tr>
                    <td><strong>Genus:</strong></td>
                    <td>{{ taxonomy.genus }}</td>
                </tr>
                <tr>
                    <td><strong>Species:</strong></td>
                    <td><i>{{species.species_accepted}}</i></td>
                </tr>
                <tr>
                    <td>Authority: </td>
                    <td>{{ taxonomy.authority }}</td>
                </tr>
                {% if taxonomy.kingdom == "Plantae" %}
                <tr>
                    <td>TPL version: </td>
                    <td>{{ taxonomy.tpl_version }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table> {% else %}
        <h3>Taxonomy</h3>
        <div class="info_box_empty">
            <p>Not entered</p> <a href="../../taxonomy/new/species={{species.id}}">Add taxonomic information</a> </div> {% endif %} {% if trait %}
        <h3>Traits <small> {{trait.id}}</small> {{trait.version}}</h3>
        <table style="width:100%" class="table">
            <tr>
                <td> <strong>Growth type: </strong> </td>
                <td> {{ trait.organism_type.type_name }} </td>
            </tr>
            <tr>
                <td> <strong>Reproductive repetition:</strong> </td>
                <td> {{ trait.reproductive_repetition.repetition_name }} </td>
            </tr>
            {% if trait.kingdom == "Plantae" %}
            <tr>
                <td> <strong>Dicotyledon/monocotyledon: </strong> </td>
                <td> {{ trait.dicot_monoc.dicot_monoc_name }} </td>
            </tr>
            <tr>
                <td> <strong>Angiosperm/gymnosperm: </strong> </td>
                <td> {{ trait.angio_gymno.angio_gymno_name }} </td>
            </tr>
            
            <tr>
                <td> <strong>Growth form raunkiaer:</strong> </td>
                <td> {{ trait.growth_form_raunkiaer.form_name }} </td>
            </tr>
            <tr>
                <td> <strong>SPANDEX growth type:</strong> </td>
                <td> {{ trait.spandex_growth_type_id.spandex_growth_types }} </td>
            </tr>
            {% endif %}
        </table> {% else %}
        <h3>Traits</h3>
        <div class="info_box_empty">
            <p>Not entered</p>
            <p><a href="../../traits/new/species={{species.id}}">Add traits</a></p>
        </div> {% endif %} </div>
</div>
<!-- End of top section (species, taxonomy, traits models)) -->

<!-- External sources line with buttons  (species model)--> 
<div id="external-sources"> Search external sources:
    <a href="http://eol.org/search?q={{species.species_accepted}}&amp;search=Go" target="_blank" class="btn btn-default" role="button"><img src="http://media.eol.org//assets/favicon-9de6ee8ce10b9ad7b2662236411f4539.ico" class="little_logo"> Enyclopedia of Life</a>
    <a href="http://www.catalogueoflife.org/col/search/all/key/{{species.species_accepted}}/" target="_blank" class="btn btn-default" role="button"><img src="http://www.catalogueoflife.org/sites/default/files/favicon.gif" class="little_logo"> Catalogue of Life</a>
    <a href="https://en.wikipedia.org/wiki/{{species.species_accepted}}" target="_blank" class="btn btn-default" role="button"><img src="https://en.wikipedia.org/static/favicon/wikipedia.ico" class="little_logo"> Wikipedia</a>
    <a href="http://www.ncbi.nlm.nih.gov/nuccore/?term=%22{{species.species_accepted}}%22" target="_blank" class="btn btn-default" role="button"><img class="little_logo" src="https://www.ncbi.nlm.nih.gov/favicon.ico"> Genbank</a>
    <a href="https://scholar.google.co.uk/scholar?q={{species.species_accepted}}" target="_blank" class="btn btn-default" role="button"><img src="https://scholar.google.co.uk/favicon-png.ico" class="little_logo"> Scholar</a>
</div>
<!-- end of external sources  (species model)-->

<br>

<!-- list of publications -->
<div id="publication_filter">
    <div class="info_box">
        <table style="width:100%" class="table">
            <thead>
                <tr>
                    <td>
                        <h4><strong>Publications:</strong></h4></td>
                    <td></td>
                    <td>
                        <h4>Filter</h4></td>
                </tr>
            </thead> {% if publications %}
            <tbody> {% for publication in publications %}
                
                <tr class="remove_duplicates publication_row" style="border-left-color:{{ publication.colour }};">
                    <td> <a href="../../publication/{{ publication.id }}">{{ publication.authors }} ({{ publication.year }}). "{{ publication.name }}" in <i>{{ publication.pub_title }}</i> {{ publication.volume }}, {{ publication.pages }}.  </a> <small> {{publication.id}}</small> 
                        <p><b>Purposes:</b> {% for purp in publication.purposes %} {{ purp.purpose_name }}; {% else %} No purposes given {% endfor %}</p>
                        {% if publication.additional_source_string %}<p><b>Additional sources:</b> {{ publication.additional_source_string }}</p>{% endif %}
                        <p><b>Date Digitised:</b> {{ publication.date_digitised.strftime('%Y-%m-%d') }}</p>
                    </td>
                    <td> {% if publication.DOI_ISBN %}<a class="btn btn-default" target="_blank" href="https://doi.org/{{ publication.DOI_ISBN }}">Go to source</a>{% endif %}</td>
                    <td>
                        <input type="checkbox" class="filter" data-value="id{{publication.id}}"> </td>
                </tr> {% endfor %} </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td>
                        <p>No publications</p>
                        <p><a href="{{ url_for('main.new_publication_form') }}">Add new publication</a>.</p>
                    </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody> {% endif %} </table>
    </div> 

    
    <!-- populations + matrices section -->
    {%if populations%}
    <div class="list"> 
        
        <!-- looping through populations -->
        {% for study in studies %}
        {{ study.id }}
        {% for population in populations %}
        {% if population.study_id == study.id %}
        <div class="population_box {{ study.publication.colour }}" style="border-left-color:{{ study.publication.colour }};">
            <div class="population" data-value="id{{study.publication.id}}"></div> 
            
            <!-- compadrino actions box -->
            {% if current_user.is_authenticated %}
            <div class="dropdown pull-right">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compadrino actions<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="../../population/{{population.id}}/edit">Edit population</a></li>
                    <li><a href="../../population/{{population.id}}/edit-history">View edits</a></li>
                    <li><a href="../../delete/population/{{population.id}}">Delete population</a></li>
                    <li class="disabled"><a href="#">Add new matrix</a></li>
                </ul>
            </div> 
            {% endif %}
            
            <!-- population information -->
            <h4><strong>Population Name: </strong>{{ population.name }} <small> {{ population.id }}</small> </h4>
            <ul>
                <li><strong>Location: </strong> <img src="../../static/flags/{{ population.country }}.GIF"> {{ population.country }}, {{ population.continent.continent_name }} </li>
                <li><strong>Ecoregion: </strong> {{ population.ecoregion.ecoregion_description }} 
                    {% if population.altitude %}
                    <li><strong>Location: </strong><span class="coordinates">{{ population.latitude }}, {{ population.longitude }}</span></li>
                    <li><strong>Altitude: </strong><span>{{ population.altitude }}m</span></li> 
                    {% if population.population_nautical_miles %}<li><strong>Nautical miles:</strong>  {{ population_nautical_miles }} </li>{% endif %}
                {% else %}
                    <li>No coordinates given</li> 
                {% endif %}
                <li>invasive_status_study_id</li>
                <li>invasive_status_elsewhere_id</li>
                <li>pop_size</li>
            </ul>

            <button type="button" class="btn btn-default" data-toggle="collapse" href="#population_{{ population.id }}"> Show/hide matrices </button>
            <div id="population_{{ population.id }}" class='panel-collapse collapse'>
                <p style="text-align: center;">Click on the sections below to view individual matrix models</p> 
                
                <!-- looping through matrices -->
                {% for matrix in matrices %}
                {% if matrix.population_id == population.id %}
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" href="#matrix_{{matrix.id}}2">
                            <h4 id="{{matrix.id}}" class="panel-title">
                            <p>
                                <span class="label label-default">{{ matrix.matrix_composition.comp_name }} matrix</span> 
                                <span class="label label-default">{{ matrix.matrix_dimension }}x{{ matrix.matrix_dimension }}</span> 
                                <span class="label label-default">Periodicity: {{ matrix.periodicity }}</span> 
                                <span class="label label-default">{% if matrix.matrix_start_season_id %}{{ matrix.matrix_start_season }}{% endif %} {% if matrix.matrix_start_month %} {{ matrix.matrix_start_month }}/{% endif %}{{ matrix.matrix_start_year }} to {% if matrix.matrix_end_season_id %}{{ matrix.matrix_end_season }}{% endif %} {% if matrix.matrix_end_month %} {{ matrix.matrix_end_month }}/{% endif %}{{ matrix.matrix_end_year }}</span> 
                                <span class="label label-default">{{ matrix.treatment.type_name }}</span>       
                                <span class="label label-default">Captive: {{ matrix.captivities.cap_code }}</span>
                                <span class="label label-default">Studied sex: {{ matrix.studied_sex.sex_code }}</span>
                                <span class="label label-default">{{ matrix.matrix_split }}</span>
                                <span class="label label-default">Seasonal: {{ matrix.seasonal }}</span>
                                <span class="label label-default">survival_issue: {{ matrix.survival_issue }}</span>
                                {# <span class="label label-default">{{ matrix.matrix_fec }}</span>   
                                <span class="label label-default">{{ matrix.matrix_complete }}</span>   
                                <span class="label label-default">{{ matrix.n_plots }}</span>   
                                <span class="label label-default">{{ matrix.plot_size }}</span> #}   
                                <span class="label label-default">{{ matrix.matrix_irreducible }}</span> 
                                <span class="label label-default">{{ matrix.matrix_ergodic }}</span> 
                                <span class="label label-default">{{ matrix.matrix_primitive }}</span> 
                                <span class="label label-default">λ = {{ matrix.matrix_lambda }}</span> 
                                <small>  {{matrix.id}}</small>
                            </p>
                            </h4> 
                        </div>
                        
                        <div id="matrix_{{matrix.id}}2" class="panel-collapse collapse">
                            <li class="list-group-item">
                                <ul class="nav nav-pills matrices">
                                    <li class="active"><a data-toggle="pill" href="#home_{{matrix.id}}">Matrix</a></li>
                                    <li><a data-toggle="pill" href="#menu_{{matrix.id}}_1">Survival Matrix </a></li>
                                    <li><a data-toggle="pill" href="#menu_{{matrix.id}}_2">Fecundity Matrix</a></li>
                                    <li><a data-toggle="pill" href="#menu_{{matrix.id}}_3">Clonal Matrix</a></li>
                                    <li><a data-toggle="pill" href="#menu_{{matrix.id}}_4">Additional Infomation</a></li> {% if current_user.is_authenticated %}
                                    <div class="dropdown pull-right">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compadrino actions<span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="../../matrix/{{matrix.id}}/edit">Edit matrix</a></li>
                                            <li><a href="../../matrix/{{matrix.id}}/edit-history">View edits</a></li>
                                            <li><a href="../../delete/matrix/{{matrix.id}}">Delete matrix</a></li>
                                        </ul>
                                    </div> {% endif %} </ul>
                                <div class="tab-content">
                                    <div id="home_{{matrix.id}}" class="tab-pane in active">
                                        <div class="table-responsive matClasses"> {{ matrix.class_author }} </div>
                                        <div class="table-responsive matA"> {{ matrix.matrix_a_string }} </div>
                                    </div>
                                    <div id="menu_{{matrix.id}}_1" class="tab-pane">
                                        <div class="table-responsive matClasses"> {{ matrix.class_author }} </div>
                                        <div class="table-responsive matA"> {{ matrix.matrix_u_string }} </div>
                                    </div>
                                    <div id="menu_{{matrix.id}}_2" class="tab-pane">
                                        <div class="table-responsive matClasses"> {{ matrix.class_author }} </div>
                                        <div class="table-responsive matA"> {{ matrix.matrix_f_string }} </div>
                                    </div>
                                    <div id="menu_{{matrix.id}}_3" class="tab-pane">
                                        <div class="table-responsive matClasses"> {{ matrix.class_author }} </div>
                                        <div class="table-responsive matA"> {{ matrix.matrix_c_string }} </div>
                                    </div>
                                    <div id="menu_{{matrix.id}}_4" class="tab-pane">
                                        <p>Matrix start season: {% if matrix.matrix_start_season_id %}{{ matrix.matrix_start_season_id.season_name }}{% else %} NA{% endif %}</p>
                                        <p>Matrix end season: {% if matrix.matrix_end_season_id %}{{ matrix.matrix_end_season_id.season_name }}{% else %} NA{% endif %}</p>
                                        <p>matrix_criteria_size</p>
                                        <p>matrix_criteria_ontogeny</p>
                                        <p>matrix_criteria_age</p>    
                                        <p>matrix_complete</p>
                                        <p>independence_origin</p>
                                        <p>matrix_complete</p>
                                        <p>n_individuals</p>
                                        <p>vectors_includes_na</p>
                                        <p>independent</p>
                                        <p>non_independence</p>
                                        <p>non_independence_author</p>
                                        <p>matrix_difficulty</p>
                                        <p><strong>matrix_fec: </strong> {{ matrix.matrix_fec }}</p>
                                    </div>
                                    <p><strong>Observations: </strong> {{ matrix.observations }}</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </div> {% endif %} {% endfor %}  </div>
        </div> {% endif %} {% endfor %} {% endfor %} </div> 
    
    <!-- what to show if there are no populations -->
    {% else %}
    <div class="info_box_empty">
        <p>There are no populations attatched to this species, new populations are added via the publication overview:</p>
        <p><a href="{{ url_for('main.publications_table') }}">Search existing publications</a></p>
        <p><a href="{{ url_for('main.new_publication_form') }}">Add new publication</a></p>
    </div> {% endif %}
    
</div> {% endblock %} {% block scripts %} {{ super() }} {{ pagedown.include_pagedown() }}
<!-- JAVASCRIPT -->
<script>
    // Change matrix strings into tables
    var divs = document.getElementsByClassName("matA");
    for (var ii = 0; ii < divs.length; ii++) {
        var matrix_string = divs[ii].innerHTML;
        var matrix_string = matrix_string.replace(" [", "");
        var matrix_string = matrix_string.replace("] ", "");
        var matrix_string = matrix_string.replace(/;/g, " ");
        var matrix_string_array = matrix_string.split(" ");
        matSize = Math.sqrt(matrix_string_array.length);
        var table_new = document.createElement('TABLE');
        table_new.className = 'table table-bordered';
        var tableBody = document.createElement('TBODY');
        table_new.appendChild(tableBody);
        var index = 0;
        for (var i = 0; i < matSize; i++) {
            var tr = document.createElement('TR');
            tableBody.appendChild(tr);
            for (var j = 0; j < matSize; j++) {
                var td = document.createElement('TD');
                var value = Number(matrix_string_array[index])
                if (value != 0) {
                    if (value.toFixed(3) != 0) {
                        td.appendChild(document.createTextNode(value.toFixed(3)));
                    }
                    else {
                        td.appendChild(document.createTextNode(value.toPrecision(2)))
                    }
                    td.className = 'non_empty_box'
                    var colour_value = 230 - Math.round(value * 70);
                    if (colour_value < 160) {
                        var colour_value = 160;
                    }
                    td.style.backgroundColor = "rgb(" + Number(colour_value) + "," + Number(colour_value + 10) + "," + Number(colour_value + 30) + ")";
                }
                else {
                    td.appendChild(document.createTextNode(value.toFixed(0)));
                    td.className = 'empty_box'
                }
                tr.appendChild(td);
                index = index + 1;
            }
        }
        divs[ii].innerHTML = "";
        divs[ii].appendChild(table_new);
    }
</script>
<script>
    // Change class strings into tables
    var divs = document.getElementsByClassName("matClasses");
    for (var ii = 0; ii < divs.length; ii++) {
        var matrix_string = divs[ii].innerHTML;
        var matrix_string = matrix_string.substring(4, matrix_string.length - 3);
        var matrix_string_array = matrix_string.split("|");
        numberOfClasses = matrix_string_array.length;
        var table_new = document.createElement('TABLE');
        table_new.className = 'table table-bordered';
        var tableBody = document.createElement('TBODY');
        table_new.appendChild(tableBody);
        var index = 0;
        var tr = document.createElement('TR');
        tableBody.appendChild(tr);
        for (var j = 0; j < numberOfClasses; j++) {
            var td = document.createElement('TD');
            td.appendChild(document.createTextNode(matrix_string_array[index]));
            tr.appendChild(td);
            index = index + 1;
        }
        divs[ii].innerHTML = "";
        divs[ii].appendChild(table_new);
    }
</script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='list.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet-vector-markers.min.js') }}"></script>
<script src="{{ url_for('static', filename='oms.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='leaflet-vector-markers.css') }}">
<script>
    // draw empty map
    var mymap = L.map('dist_map').setView([20, 20], 1);
    var Esri_WorldPhysical = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service'
        , maxZoom: 8
        , minZoom: 1
    }).addTo(mymap); {% if species.gbif_taxon_key %}
    L.tileLayer('http://api.gbif.org/v1/map/density/tile?x={x}&y={y}&z={z}&type=TAXON&key={{species.gbif_taxon_key}}&resolution=4&layer=OBS_NO_YEAR&layer=SP_NO_YEAR&layer=OTH_NO_YEAR&layer=OBS_1900_1910&layer=SP_1900_1910&layer=OTH_1900_1910&layer=OBS_1910_1920&layer=SP_1910_1920&layer=OTH_1910_1920&layer=OBS_1920_1930&layer=SP_1920_1930&layer=OTH_1920_1930&layer=OBS_1930_1940&layer=SP_1930_1940&layer=OTH_1930_1940&layer=OBS_1940_1950&layer=SP_1940_1950&layer=OTH_1940_1950&layer=OBS_1950_1960&layer=SP_1950_1960&layer=OTH_1950_1960&layer=OBS_1960_1970&layer=SP_1960_1970&layer=OTH_1960_1970&layer=OBS_1970_1980&layer=SP_1970_1980&layer=OTH_1970_1980&layer=OBS_1980_1990&layer=SP_1980_1990&layer=OTH_1980_1990&layer=OBS_1990_2000&layer=SP_1990_2000&layer=OTH_1990_2000&layer=OBS_2000_2010&layer=SP_2000_2010&layer=OTH_2000_2010&layer=OBS_2010_2020&layer=SP_2010_2020&layer=OTH_2010_2020&layer=LIVING&layer=FOSSIL&palette=yellows_reds', {
        attribution: ''
        , maxZoom: 8
        , minZoom: 1
    , }).addTo(mymap); {% endif %}
</script>
<script>
    // remove duplicate publications
    var seen = {};
    $('.remove_duplicates').each(function () {
        var txt = $(this).text();
        if (seen[txt]) $(this).remove();
        else seen[txt] = true;
    });
    var x = document.getElementsByClassName("remove_duplicates");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.visibility = "visible";
    }
</script>


<script>
    // string to colour hash
    var stringToColour = function (str) {
        var hash = 2000 * parseInt(str) ^ 4;
        for (var i = 0; i < str.length; i++) {
            hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        var colour = '#';
        for (var i = 0; i < 3; i++) {
            var value = (hash >> (i * 8)) & 0xFF;
            colour += ('00' + value.toString(16)).substr(-2);
        }
        return colour;
    }
</script>
<script>
    // change colour or left hand border of populations
    {% for publication in publications %}
    $('.{{ publication.id}}p').css('border-left-color', stringToColour("{{ publication.id}}p")); 
     {% endfor %}
</script>
<script>
    // create new spidery thing
    var oms = new OverlappingMarkerSpiderfier(mymap, {
        keepSpiderfied: true
    });
</script>
<script>
    // add map markers
    $('.coordinates').each(function () {
        var txt = $(this).text();
        var coords = txt.split(", ");
        var lat_dec = coords[0]
        var lon_dec = coords[1]
        var parentDiv = $(this).closest("div");
        var parentDiv = $(parentDiv).attr('class');
        var parentDiv = parentDiv.split(' ')[1];
        var hexMarker = L.VectorMarkers.icon({
            markerColor: parentDiv
        });
        hexMarker.options.shadowSize = [0, 0];
        hexMarker.options.iconSize = [16, 16];
        hexMarker.options.iconAnchor = [8, 16];
        var marker = L.marker([lat_dec, lon_dec], {
            icon: hexMarker
        });
        mymap.addLayer(marker);
        oms.addMarker(marker);
    });
</script>
<script>
    // list.js stuff
    $(function () {
        var options = {
            valueNames: [
                {
                    attr: 'data-value'
                    , name: 'population'
                }
            ]
        };
        var userList = new List('publication_filter', options);
        var activeFilters = [];
        //filter
        $('.filter').change(function () {
            var isChecked = this.checked;
            var value = $(this).data("value");
            if (isChecked) {
                //  add to list of active filters
                activeFilters.push(value);
            }
            else {
                // remove from active filters
                activeFilters.splice(activeFilters.indexOf(value), 1);
            }
            userList.filter(function (item) {
                if (activeFilters.length > 0) {
                    return (activeFilters.indexOf(item.values().population)) > -1;
                }
                return true;
            });
        });
    });
</script>
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]
            , t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };
        return t;
    }(document, "script", "twitter-wjs"));
</script>
<script>
    function htmlreplace(a, b, element) {
        if (!element) element = document.body;
        var nodes = element.childNodes;
        for (var n = 0; n < nodes.length; n++) {
            if (nodes[n].nodeType == Node.TEXT_NODE) {
                var r = new RegExp(a, 'gi');
                nodes[n].textContent = nodes[n].textContent.replace(r, b);
            }
            else {
                htmlreplace(a, b, nodes[n]);
            }
        }
    }
    // htmlreplace('None', 'Unknown');
    htmlreplace('&lt;', '<');
    htmlreplace('&gt;', '>');
</script> {% endblock %}