{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Demography Database{% endblock %}

{% block page_content %}


<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.name }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}<br>{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
            {% endif %}
        </p>
        {% endif %}
        <p>{{ user.role }}</p>
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>Member since {{ moment(user.member_since).format('L') }}. Last logged in {{ moment(user.last_seen).format('L') }}.</p>
        
    </div>
</div>

<h3>Your lists</h3>

    <ul>

    {% for list in lists %}
    <li>Name: {{list.name}}</li>


    {% endfor %}
    </ul>

<p><a href="{{ url_for('user_zone.new_list') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create a new list</a></p>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
